<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card profile-card">
                <div class="row p-3 pb-0">
                    <div class="col-12">
                        <h3>Můj účet</h3>
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col-4 fw-bold">
                        <p>Jméno</p>
                    </div>
                    <div class="col-8">
                        <%= user.firstname %> <%= user.lastname %> 
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>E-mail</p>
                    </div>
                    <div class="col-8">
                        <%= user.email %> 
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>Fakulta</p>
                    </div>
                    <div class="col-8">
                        <%= user.faculty %> 
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>Počet nastudovaných kartiček</p>
                    </div>
                    <div class="col-8">
                        <%= user.cardsSeen %> 
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>Datum registrace</p>
                    </div>
                    <div class="col-8">
                        <%= dateOfRegistration %> 
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>Předplatné</p>
                    </div>
                    <% if(user.isPremium){ %>
                        <div class="col-8">
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">aktivní do <%= endDate %> </p>
                                <% if(user.plan === "yearly" && user.premiumGrantedByAdmin !== true){ %>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-warning-year">
                                        Správa předplatného
                                    </button>
                                <% } else if (user.plan === "halfyear" && user.premiumGrantedByAdmin !== true) { %>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-warning-halfyear">
                                        Správa předplatného
                                    </button>
                                <% } else if (!user.premiumGrantedByAdmin === true){ %>
                                    <button id="manage-billing-button" class="btn btn-sm btn-danger" type="submit">
                                        Správa předplatného
                                    </button>
                                <% } %>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="col-8 d-flex justify-content-between align-items-center">
                            <p class="">žádné</p>
                            <a href="/premium" class="btn btn-danger btn-sm mb-2">Aktivovat</a>
                        </div>
                    <% } %>
                    <hr />
                    <% if(user.isPremium){ %> 
                        <div class="col-4 fw-bold">
                            <p>Typ předplatného</p>
                        </div>
                        <div class="col-8">
                            <% if(user.plan === "none" && !user.premiumGrantedByAdmin){ %>
                                <p class="mb-0">Premium zrušeno (aktivní do konce období)</p>
                            <% }%>  
                            <% if(user.plan === "monthly" && !user.premiumGrantedByAdmin){ %>
                                <p class="mb-0">Premium měsíční (další platba <%= endDate %>)</p>
                            <% }%> 
                            <% if(user.plan === "halfyear" && !user.premiumGrantedByAdmin){ %>
                                <p class="mb-0">Premium půlroční (další platba <%= endDate %>)</p>
                            <% }%> 
                            <% if(user.plan === "yearly" && !user.premiumGrantedByAdmin){ %>
                                <p class="mb-0">Premium roční (další platba <%= endDate %>)</p>
                            <% }%> 
                            <% if(user.plan === "daily" && !user.premiumGrantedByAdmin){ %>
                                <p class="mb-0">Premium denní (další platba <%= endDate %>)</p>
                            <% }%> 
                            <% if(user.premiumGrantedByAdmin){ %>
                                <p class="mb-0">Premium zdarma do konce období</p>
                            <% }%> 
                        </div> 
                        <hr />
                    <% } %> 
                    <div class="col-4 fw-bold">
                        <p>Heslo</p>
                    </div>
                    <div class="col-8 d-flex justify-content-end align-items-start">
                        <a href="/auth/user/changePassword" class="btn btn-danger btn-sm">Změnit heslo</a>
                        <!--the following input transfers customer billing ID to Javascript -->
                        <input type="text" id="customerID" name="customerID" value="<%= user.billingId %>" style="display:none" />
                    </div>
                    <hr />
                    <div class="col-4 fw-bold">
                        <p>Odstranit účet</p>
                    </div>
                    <% if(user.isPremium && user.plan !== "none"){ %> 
                        <div class="col-8">
                            před odstraněním účtu je nutné zrušit předplatné
                        </div>
                    <% } else { %>
                        <div class="col-8 d-flex justify-content-end align-items-start">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteUserModal" class="btn btn-outline-danger btn-sm">Odstranit účet</a>
                            
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Warning YEAR to SHORTER PERIOD -->
<div class="modal fade" id="modal-warning-year" tabindex="-1" aria-labelledby="modalWarning" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Upozornění</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>
            Chcete-li předplatné změnit na jiné platební obdobní, bude Vám při změně na kratší období nevyčerpaná hodnota předplatného přímo úměrná zůstatku období převedena na kredit, který bude poté možné použít k nákupu dalšího předplatného.
          </p>
          <p>
            Chcete-li předplatné <b>zrušit</b>, zůstane Vám aktivní do konce předplaceného období.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Zavřít</button>
          <button id="manage-billing-button" class="btn btn-sm btn-danger" type="submit">
            Pokračovat
        </button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL - Delete user confirmation -->
  <div class="modal fade" id="deleteUserModal" tabindex="-1">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title">Opravdu chcete odstranit svůj účet?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center">
            <a href="/auth/user/deleteMyAccount" class="btn btn-danger">Ano, odstranit</a>
        </div>
    </div>
    </div>
</div>

<script src="/js/jquery.min.js" ></script>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="/js/profile.js"></script>