<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Správa předmětů</h5>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-category" style="margin-bottom: 5px">Přidat předmět</button>
            </div>
            
            <p class="text-muted text-smaller">Na hlavní stránce se zobrazují jen předměty s pořadím 1 a výše, nižší čísla lze užít pro přípravu předmětů před zveřejněním. Odstranit lze pouze předměty, které neobsahují žádné balíčky.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="w-100">
                <tr>
                    <th><p>Poř.</p></th>
                    <th><p>Název kategorie</p></th>
                    <th><p>Označení</p></th>
                    <th><p>Ikona</p></th>
                    <th><p>Počet balíčků</p></th>
                    <th><p>Počet karet</p></th>
                    <th><p title="Součet spuštění všech balíčků v předmětu">Abs. Sp.</p></th>
                    <th><p title="Průměrný počet spuštění balíčku v předmětu">Prům. Sp.</p></th>
                </tr>
                <% categories.forEach((cat, i) => { %>
                    <tr class="admin-category-row">
                        <th><%= cat.orderNum %></th>
                        <th><a href="/category/<%= cat.name %>"><%= cat.text %></a></th>
                        <th><%= cat.name %></th>
                        <th><%= cat.icon %></th>
                        <th><%= cat.sections.length %></th>
                        <th><%= cat.numOfCards %></th>
                        <th><%= cat.countStartedAll %></th>
                        <th><%= cat.countAverage %></th>
                        <th class="d-flex">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#modal-category-edit<%= i %>"><i class="far fa-edit"></i></a>
                            <% if (cat.sections.length === 0) { %>
                                <form action="/category/remove/<%= cat._id %>?_method=DELETE" method="POST">
                                    <button class="delete-btn"><strong>X</strong></button>
                                </form>
                            <% } %>
                        </th>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <h5>Balíčky dle počtu spuštění</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="w-100">
                <tr>
                    <th><p>Poř.</p></th>
                    <th><p>Balíček</p></th>
                    <th><p>Kategorie</p></th>
                    <th><p>Fr./Pr.</p></th>
                    <th><p>Spuštění</p></th>
                    <th><p>Dokončení</p></th>
                    <th><p>Poměr S/D</p></th>
                    <th><p>Opakování</p></th>
                    <th title="Reset counters"><p>Reset</p></th>
                </tr>
                <% sections.forEach((sec, i) => { %>
                    <tr class="admin-category-row">
                        <th><%= i + 1 %></th>
                        <th title="<%= sec.shortDescription %>"><%= sec.name %></th>
                        <th><%= sec.category %></th>
                        <th>
                            <% if (!sec.isPremium) { %>
                                F
                            <% } else { %>
                                P
                            <% } %>
                        </th>
                        <th><%= sec.countStarted %></th>
                        <th><%= sec.countFinished %></th>
                        <th><%= sec.SDratio %> %</th>
                        <th><%= sec.countRepeated %></th>
                        <th><a href="/admin/<%= sec._id %>/resetCounters" class="btn btn-sm btn-danger"><i class="fas fa-undo-alt"></i></a></th>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>

<!-- Add category modal -->
<div class="modal fade" id="modal-category" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title mx-3">Vytvořit nový předmět</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-3">
            <form action="/category/new" method="POST">
                <div class="form-group mb-4">
                    <label for="text">Název předmětu</label>
                    <input class="form-control form-borders" id="text" name="text" rows="1" placeholder="Mezinárodní právo" required></input>
                </div>
                <div class="form-group mb-4">
                    <label for="value">Zkratka předmětu</label>
                    <input class="form-control form-borders" id="value" name="value" rows="1" placeholder="mezinarodnipravo" required></input>
                </div>
                <div class="form-group mb-4">
                    <label for="icon">Ikona předmětu</label>
                    <input class="form-control form-borders" id="icon" name="icon" rows="1" placeholder="icon_mezinarodko.png" required></input>
                </div>
                <div class="form-group">
                    <label for="orderNum">Pořadí</label>
                    <input class="form-control form-borders" id="orderNum" name="orderNum" rows="1" placeholder="0" required></input>
                </div>
                <button class="btn btn-danger mt-4">Vytvořit předmět</button>
            </form>
        </div>
    </div>
    </div>
</div>

<% categories.forEach((category, i) => { %>
    <!-- Edit category modal -->
    <div class="modal fade" id="modal-category-edit<%= i %>" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-3">Upravit předmět</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-3">
                <form action="/category/edit/<%= category._id %>?_method=PUT" method="POST">
                    <div class="form-group mb-4">
                        <label for="text">Název kategorie</label>
                        <input class="form-control form-borders" id="text" name="text" rows="1" value="<%= category.text %>" required></input>
                    </div>
                    <div class="form-group mb-4">
                        <label for="icon">Ikona</label>
                        <input class="form-control form-borders" id="icon" name="icon" rows="1" value="<%= category.icon %>" required></input>
                    </div>
                    <div class="form-group">
                        <label for="orderNum">Pořadí</label>
                        <input class="form-control form-borders" id="orderNum" name="orderNum" rows="1" value="<%= category.orderNum %>" required></input>
                    </div>
                    <button class="btn btn-danger mt-4">Uložit změny</button>
                </form>
            </div>
        </div>
        </div>
    </div>
<% }) %>