<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Správa kategorií</h5>
            <p class="text-muted text-smaller">Na hlavní stránce se zobrazují jen kategorie s pořadím 1 a výše, nižší čísla lze užít pro přípravu kategorií před zveřejněním.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <table class="w-100">
                <tr>
                    <th><p>Poř.</p></th>
                    <th><p>Název kategorie</p></th>
                    <th><p>Označení</p></th>
                    <th><p>Ikona</p></th>
                    <th><p>Počet balíčků</p></th>
                    <th><p>Počet karet</p></th>
                </tr>
                <% categories.forEach(cat => { %>
                    <tr class="admin-category-row">
                        <th><%= cat.orderNum %></th>
                        <th><a href="/category/<%= cat.name %>"><%= cat.text %></a></th>
                        <th><%= cat.name %></th>
                        <th><%= cat.icon %></th>
                        <th><%= cat.sections.length %></th>
                        <th><%= cat.numOfCards %></th>
                        <th class="d-flex">
                            <a href="/category/edit/<%= cat._id %>"><i class="far fa-edit"></i></a>
                            <% if (cat.sections.length === 0) { %>
                                <form action="/category/remove/<%= cat._id %>?_method=DELETE" method="POST">
                                    <button class="delete-btn"><strong>X</strong></button>
                                </form>
                            <% } %>
                        </th>
                    </tr>
                <% }) %>
            </table>
        </div>
        <div class="col-md-3 border p-3">
            <h5 class="mb-3">Vytvořit novou kategorii</h5>
            <form action="/category/new" method="POST">
                <div class="form-group mb-4">
                    <label for="text">Název kategorie</label>
                    <input class="form-control" id="text" name="text" rows="1" placeholder="Mezinárodní právo" required></input>
                </div>
                <div class="form-group mb-4">
                    <label for="value">Označení kagegorie</label>
                    <input class="form-control" id="value" name="value" rows="1" placeholder="mezinarodnipravo" required></input>
                </div>
                <div class="form-group">
                    <label for="icon">Ikona</label>
                    <input class="form-control" id="icon" name="icon" rows="1" placeholder="icon_mezinarodko.png" required></input>
                </div>
                <div class="form-group">
                    <label for="orderNum">Pořadí</label>
                    <input class="form-control" id="orderNum" name="orderNum" rows="1" placeholder="0" required></input>
                </div>
                <button class="btn btn-danger mt-5">Vytvořit kategorii</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Balíčky dle počtu spuštění</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="w-100">
                <tr>
                    <th><p>Poř.</p></th>
                    <th><p>Balíček</p></th>
                    <th><p>Kategorie</p></th>
                    <th><p>Fr./Pr.</p></th>
                    <th><p>Spuštění</p></th>
                    <th><p>Dokončení</p></th>
                    <th><p>Poměr S/D</p></th>
                    <th><p>Opakování</p></th>
                    <th title="Reset counters"><p>Reset</p></th>
                </tr>
                <% sections.forEach((sec, i) => { %>
                    <tr class="admin-category-row">
                        <th><%= i + 1 %></th>
                        <th title="<%= sec.shortDescription %>"><%= sec.name %></th>
                        <th><%= sec.category %></th>
                        <th>
                            <% if (!sec.isPremium) { %>
                                F
                            <% } else { %>
                                P
                            <% } %>
                        </th>
                        <th><%= sec.countStarted %></th>
                        <th><%= sec.countFinished %></th>
                        <th><%= sec.SDratio %> %</th>
                        <th><%= sec.countRepeated %></th>
                        <th><a href="/admin/<%= sec._id %>/resetCounters" class="btn btn-sm btn-danger"><i class="fas fa-undo-alt"></i></a></th>
                    </tr>
                <% }) %>
            </table>
        </div>
    </div>
</div>