<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Statistiky</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap_customised.css" />
    <link rel="stylesheet" href="/css/custom.css" />
    <!-- META TAGS -->
    <%- include('../partials/meta') %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-W9NBWFYGZ1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-W9NBWFYGZ1");
    gtag("config", "AW-990983899");
  </script>

  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar') %>

    <main role="main">
      <%- include('../partials/alert') %>
      <div class="container mt-5">
        <div class="row">
          <div class="col-12 mb-1">
            <h5>Statistiky</h5>
            <span class="text-smaller"
              >(<a href="/admin/stats?show=month">31 dní</a> |
              <a href="/admin/stats?show=quarter">90 dní</a> |
              <a href="/admin/stats?show=halfyear">180 dní</a> |
              <a href="/admin/stats?show=year">365 dní</a>)</span
            >
          </div>
        </div>
        <div class="row" id="dataRow" fullData="<%= data %>">
          <div class="chart-container">
            <canvas class="chart-canvas" id="registrationsPerDayChart"></canvas>
          </div>
        </div>
        <div class="row">
          <div class="chart-container">
            <canvas
              class="chart-canvas"
              id="premiumActivationsPerDayChart"
            ></canvas>
          </div>
        </div>
        <div class="row">
          <div class="chart-container">
            <canvas
              class="chart-canvas"
              id="premiumProlongationsPerDayChart"
            ></canvas>
          </div>
        </div>
        <div class="row">
          <div class="chart-container">
            <canvas
              class="chart-canvas"
              id="premiumDeactivationsPerDayChart"
            ></canvas>
          </div>
        </div>
        <div class="row">
          <div class="chart-container">
            <p class="text-smaller text-center mb-0">
              Počet registrací za den dle zdroje
            </p>
            <canvas
              class="chart-canvas"
              id="registrationsPerDayBySourceChart"
            ></canvas>
          </div>
        </div>
      </div>
    </main>

    <%- include('../partials/footer') %>
    <!-- JS for Bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/c9f8e59b45.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/charts.js"></script>
  </body>
</html>
