<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row text-smaller">
        <div class="offset-1 col-md-4 mb-3 pt-3">
            <div class="card stats p-3">
            <h5 class="mb-3">Statistiky</h5>
            <div class="row">
                <div class="col-md-10">
                    <p>Počet registrovaných uživatelů</p>
                </div>
                <div class="col-md-2">
                    <%= registeredUsersCount %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>Počet Premium uživatelů</p>
                </div>
                <div class="col-md-2">
                    <%= premiumUsersCount %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>Uživatelé aktivní v posledním týdnu</p>
                </div>
                <div class="col-md-2">
                    <%= usersActiveInLastWeek %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>Aktivováno Premium v posledním týdnu</p>
                </div>
                <div class="col-md-2">
                    <%= premiumActivationsInLastWeek %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>Prodlouženo Premium v posledním týdnu</p>
                </div>
                <div class="col-md-2">
                    <%= premiumUpdatesInLastWeek %>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <p>Deaktivováno Premium v posledním týdnu</p>
                </div>
                <div class="col-md-2">
                    <%= premiumDeactivationsInLastWeek %>
                </div>
            </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 pt-3">
            <div class="card stats p-3">
                <h5 class="mb-3">Fakulty</h5>
                <div class="row">
                    <div class="col-md-10">
                        <p>PrF UP</p>
                    </div>
                    <div class="col-md-2">
                        <%= faculties.prfUp %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>PrF UK</p>
                    </div>
                    <div class="col-md-2">
                        <%= faculties.prfUk %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>PrF MUNI</p>
                    </div>
                    <div class="col-md-2">
                        <%= faculties.prfMuni %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>PrF ZČU</p>
                    </div>
                    <div class="col-md-2">
                        <%= faculties.prfZcu %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>Jiná</p>
                    </div>
                    <div class="col-md-2">
                        <%= faculties.prfJina %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>Nestuduje</p>
                    </div>
                    <div class="col-md-2">
                        <%= faculties.prfNestuduji %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <p>Neuvedeno</p>
                    </div>
                    <div class="col-md-2">
                        <%= faculties.prfNeuvedeno %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 mb-3 pt-3">
            <div class="card stats p-3">
                <h5 class="mb-3">Kartičky a balíčky</h5>
                <div class="row">
                    <div class="col-md-9">
                        <p>Kartiček zdarma</p>
                    </div>
                    <div class="col-md-3">
                        <%= cardsFreeCount %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <p>Kartiček v předplatném</p>
                    </div>
                    <div class="col-md-3">
                        <%= cardsPremiumCount %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <p>Kartiček zdarma</p>
                    </div>
                    <div class="col-md-3">
                        <%= freeCardRatio %> %
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-9">
                        <p>Balíčky zdarma</p>
                    </div>
                    <div class="col-md-3">
                        <%= sectionsFreeCount %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <p>Balíčky v předplatném</p>
                    </div>
                    <div class="col-md-3">
                        <%= sectionsPremiumCount %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <p>Balíčků zdarma</p>
                    </div>
                    <div class="col-md-3">
                        <%= freeSectionRatio %> %
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-11 offset-1 mb-3">
            <h5>Registrovaní uživatelé</h5>
        </div>
    </div>
    <% for(let user of users){ %> 
        <div class="row text-smaller">
            <div class="col-sm-2 offset-1"><%= user.email %> </div>
            <div class="col-sm-2">REG: <%= user.updatedDateOfRegistration %> </div>
            <div class="col-sm-1"><%= user.cardsSeen %></div>
            <% if(user.isPremium){ %> 
                <div class="col-sm-1">Premium</div>
            <% } else { %>
                <div class="col-sm-1">-</div>
            <% } %>
            <% if (user.isPremium && !user.premiumGrantedByAdmin) { %>
                <div class="col-sm-4 text-center">
                    <p class="text-muted">- aktivní placené předplatné -</p>
                </div>
            <% } else { %>
            <div class="col-sm-2">
                <a href="/admin/<%=user._id%>/upgradeToPremium/addDay">P1D</a> 
                <a href="/admin/<%=user._id%>/upgradeToPremium/addMonth">P1M</a> 
                <a href="/admin/<%=user._id%>/upgradeToPremium/add6Weeks">P6W</a> 
                <a href="/admin/<%=user._id%>/upgradeToPremium/addYear">P1R</a> 
                <a href="/admin/<%=user._id%>/upgradeToPremium/addDecade">P10R</a>
            </div>
            <div class="col-sm-2">
                <form action="/admin/<%= user._id %>/deleteUser?_method=DELETE" method="POST"><button class="btn btn-sm btn-warning">Odstranit uživatele</button></form>
            </div>
            <% } %>
            <hr>
        </div>
    <% } %> 
</div>