<% layout ('layouts/boilerplate.ejs') %>
<div class="container mb-4">
  <div class="row">
    <div class="col-lg-6 col-12 offset-lg-3">
      <div class="card text-center p-4">
        <div class="row">
          <div class="col-12 mt-4">
            <i class="fas fa-check-circle green-check"></i>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-4 mb-3">
            <% if (knowsAll) { %>
            <h4>Dokončeno</h4>
            <% } else { %>
            <h4>Dobrá práce</h4>
            <% } %>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
              <% if (knowsAll) { %>
              <p class="grey-highlight px-3 py-2">
                Umíš <span class="color-1"><b>všechny</b></span> kartičky z
                tohoto balíčku.
              </p>
              <% } else { %>
              <p class="grey-highlight px-3 py-2">
                Umíš <span class="color-1"><b><%= knownCards %></b></span> z
                <span class="color-1"><b><%= cardsTotal %></b></span> kartiček v
                tomto balíčku.
              </p>
              <% } %>
            </div>
          </div>
          <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
              <p class="grey-highlight px-3 py-2">
                Celkem máš nastudováno už
                <span class="color-1"><b><%= currentUser.cardsSeen %></b></span>
                kartiček.
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center mt-3">
            <a
              href="/category/<%= category%>/section/<%= section._id%>/card30/1?mode=unknown"
              class="btn btn-danger mx-1"
              ><i class="fas fa-redo" style="margin-right: 8px"></i>Opakovat</a
            >

            <% if (section.questions.length > 0) { %>
            <a
              href="/category/<%= categoryId%>/section/<%= section._id%>/test"
              class="btn btn-danger my-3 mx-1"
              >Spustit test</a
            >
            <% } %>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-12">
            <a href="/category/<%= category%>/">zpět na předmět</a>
          </div>
        </div>
        <!--
        <div class="row">
          <div class="col-12">
            <p class="mb-0">Jaká byla kvalita kartiček v tomto balíčku?</p>
            <div id="rating-type" name="cards"></div>
            <form
              class="d-flex justify-content-center"
              id="rating-form"
              name="<%= section._id %>"
            >
              <div class="rate">
                <input
                  class="radio-btn-rating"
                  type="radio"
                  id="star5"
                  name="rate"
                  value="5"
                />
                <label for="star5" title="text">5 stars</label>
                <input
                  class="radio-btn-rating"
                  type="radio"
                  id="star4"
                  name="rate"
                  value="4"
                />
                <label for="star4" title="text">4 stars</label>
                <input
                  class="radio-btn-rating"
                  type="radio"
                  id="star3"
                  name="rate"
                  value="3"
                />
                <label for="star3" title="text">3 stars</label>
                <input
                  class="radio-btn-rating"
                  type="radio"
                  id="star2"
                  name="rate"
                  value="2"
                />
                <label for="star2" title="text">2 stars</label>
                <input
                  class="radio-btn-rating"
                  type="radio"
                  id="star1"
                  name="rate"
                  value="1"
                />
                <label for="star1" title="text">1 star</label>
              </div>
            </form>
          </div>
        </div>
        -->
      </div>
    </div>
  </div>
</div>
