<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="offset-2 col-8 mb-3">
            <h5>Zadání pro AI</h5>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-8 d-flex justify-content-between mb-4">
            <a href="/category/<%= section.category %>/section/<%= section._id %>/listAllCards" class="btn btn-sm btn-outline-danger">Zpět na všechny kartičky</a>
            <a href="https://gemini.google.com/app" target="_blank" class="btn btn-sm btn-outline-danger">Otevřít Gemini</a>
        </div>
    </div>
    <div class="row">
        <div class="offset-2 col-8">
            <p class="text-bold">Sada 1</p>
            <p>Vytvoř <% if (section.cards.length >= 15) { %>15<% } else { %> <%= section.cards.length %> <% } %> testových otázek se třemi odpověďmi z nichž pouze jedna je správná, a to na základě následujícího textu. Správnou odpověď označet tučným písmem.</p>
            <p>
                <% section.cards.forEach((card, i) => { %> 
                    <% if (i <= 15) { %>
                        <%- card.pageB %>
                    <% } %>
                <% }) %> 
            </p>
            <hr>
        </div>
        <% if (section.cards.length > 15) { %>
            <div class="offset-2 col-8 mt-3">
                <p class="text-bold">Sada 2</p>
                <p>Vytvoř <% if (section.cards.length >= 30) { %>15<% } else { %> <%= section.cards.length - 15 %> <% } %> testových otázek se třemi odpověďmi z nichž pouze jedna je správná, a to na základě následujícího textu. Správnou odpověď označet tučným písmem.</p>
                <p>
                    <% section.cards.forEach((card, i) => { %> 
                        <% if (i > 15 && i <= 30) { %>
                            <%- card.pageB %>
                        <% } %>
                    <% }) %> 
                </p>
                <hr>
            </div>
        <% } %>
        <% if (section.cards.length > 30) { %>
            <div class="offset-2 col-8 mt-3">
                <p class="text-bold">Sada 3</p>
                <p>Vytvoř <% if (section.cards.length >= 45) { %>15<% } else { %> <%= section.cards.length - 30 %> <% } %> testových otázek se třemi odpověďmi z nichž pouze jedna je správná, a to na základě následujícího textu. Správnou odpověď označet tučným písmem.</p>
                <p>
                    <% section.cards.forEach((card, i) => { %> 
                        <% if (i > 30 && i <= 45) { %>
                            <%- card.pageB %>
                        <% } %>
                    <% }) %> 
                </p>
            </div>
        <% } %>
    </div>
</div>