<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Kartičky v balíčku <%= section.name %> <span class="text-muted">(Předmět: <%= section.category %>)</span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-between mb-4">
            <a href="/category/<%= section.category %>" class="btn btn-sm btn-outline-danger">Zpět na kategorii</a>
            <a href="/category/<%= section.category %>/section/<%= section._id %>/newCard" class="btn btn-sm btn-danger">Přidat kartu</a>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-1 text-center">Číslo</div>
            <div class="col-sm-3">Přední strana</div>
            <div class="col-sm-5">Zadní strana</div>
            <hr>
        </div>
    <% section.cards.forEach((card, i) => { %> 
        <div class="row">
            <div class="col-sm-1 text-small text-center"><%= i + 1%></div>
            <div class="col-sm-3 text-small"><%- card.pageA %> </div>
            <div class="col-sm-5 text-small"><%- card.pageB %> </div>
            <div class="col-sm-1"><a href="/cards/edit/<%= card._id%>">Upravit</a></div>
            <div class="col-sm-1"><a href="/cards/remove/<%= card._id%>">Odstranit</a></div>
            <hr>
        </div>
    <% }) %> 
</div>