<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-11 offset-1 mb-3">
            <h5>Sekce: <%= section.name %> </h5>
        </div>
    </div>
    <% for(let card of section.cards){ %> 
        <div class="row">
            <div class="col-sm-3 offset-1"><%= card.pageA %> </div>
            <div class="col-sm-5"><%= card.pageB %> </div>
            <div class="col-sm-1"><a href="/cards/edit/<%= card._id%>">Upravit</a></div>
            <div class="col-sm-1"><a href="/cards/remove/<%= card._id%>">Odstranit</a></div>
            <div class="col-sm-1"><a href="/cards/show/<%= card._id%>">Zobrazit</a></div>
            <hr>
        </div>
    <% } %> 
    <div class="row">
        <div class="col-12 d-flex justify-content-around">
            <a href="/category/<%= section.category %>" class="btn btn-sm btn-primary">Zpět na kategorii</a>
            <a href="/category/<%= section.category %>/section/<%= section._id %>/newCard" class="btn btn-sm btn-primary">Přidat kartu</a>
        </div>
    </div>
</div>