<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Faktury k vystavení <span class="text-muted">(<%= users.length %>)</span> | <a href="/invoices/issued">Vystavené faktury</a></h5>
        </div>
    </div>
    <% users.forEach((user, i) => { %> 
        <div class="row mt-2">
            <div class="col-12">
                <div class="card px-3 py-2">
                    <form action="/invoice/new/<%= user._id %>" method="POST">
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-lg-2">
                                <p class="mt-1 mb-0 text-bold"><a href="/admin/<%= user._id %>/showDetail"><%= user.email %></a></p>
                            </div>
                            <div class="col-12 col-lg-1">
                                <input type="text" id="subscriptionPeriod" name="subscriptionPeriod" placeholder="Období" value="<%= user.plan %>" class="form-control" required>
                            </div>
                            <div class="col-12 col-lg-1">
                                <p><%= user.subscriptionSource %></p>
                            </div>
                            <div class="col-12 col-lg-2">
                                <input type="text" id="invoiceNum" name="invoiceNum" placeholder="Číslo FA" value="<%= lastInvoiceNumber + i + 1 %>" class="form-control" required>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="input-group">
                                    <input type="number" id="invoiceAmount" name="invoiceAmount" placeholder="Částka" value="<%= user.amount %>" class="form-control" required>
                                    <span class="input-group-text" style="border:none;background-color: white;">CZK</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <input type="date" id="invoiceDate" name="invoiceDate" value="<%= user.date %>" class="form-control" required>
                            </div>
                            <div class="col-12 col-lg-2 d-flex justify-content-between">
                                <button type="submit" class="btn btn-sm btn-danger w-100 mx-2">Vložit</button>
                                <a class="btn btn-sm btn-danger" href="/invoice/closeInvoice/<%= user._id %>">X</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% }) %> 
</div>