<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Faktury k vystavení <span class="text-muted">(<%= users.length %>)</span></h5>
        </div>
    </div>
    <% users.forEach((user, i) => { %> 
        <div class="row mt-2">
            <div class="col-12">
                <div class="card px-3 py-2">
                    <form action="/invoice/new/<%= user._id %>" method="POST">
                        <div class="row g-3 align-items-center">
                            <div class="col-12 col-lg-2">
                                <p class="mt-1 mb-0 text-bold"><%= user.email %></p>
                            </div>
                            <div class="col-12 col-lg-2">
                                <p class="mt-1 mb-0">
                                    <% if (user.plan === "yearly") { %>roční<% } %>
                                    <% if (user.plan === "monthly") { %>měsíční<% } %>
                                    <% if (user.plan === "halfyear") { %>půlroční<% } %>
                                    <% if (user.plan === "daily") { %>denní<% } %>
                                     do <%= user.endDate %>
                                </p>
                            </div>
                            <div class="col-12 col-lg-2">
                                <input type="text" id="invoiceNum" name="invoiceNum" placeholder="Číslo FA" value="<%= lastInvoiceNumber + i + 1 %>" class="form-control" required>
                            </div>
                            <div class="col-12 col-lg-2">
                                <div class="input-group">
                                    <input type="number" id="invoiceAmount" name="invoiceAmount" placeholder="Částka" value="<%= user.amount %>" class="form-control" required>
                                    <span class="input-group-text" style="border:none;background-color: white;">CZK</span>
                                </div>
                            </div>
                            <div class="col-12 col-lg-2">
                                <input type="date" id="invoiceDate" name="invoiceDate" value="<%= user.date %>" class="form-control" required>
                            </div>
                            <div class="col-12 col-lg-2">
                                <button type="submit" class="btn btn-sm btn-danger w-100">Vložit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <% }) %> 
</div>