<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edookio AI Premium</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap_customised.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/landing.css">
        <link rel="stylesheet" href="/css/premium.css">
        <!-- META TAGS -->
        <%- include('../partials/meta') %>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
    </head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W9NBWFYGZ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-W9NBWFYGZ1');
  gtag('config', 'AW-990983899');
</script>
<body class="d-flex flex-column vh-100 bg-light">
    <%- include('../partials/navbar') %> 

    <main role="main"> 
    <%- include('../partials/alert') %>
    <div class="row pt-5">
      <div class="offset-1 col-10 d-flex justify-content-between mb-4">
          <% if (!demo) { %>
            <a href="/category/<%= section.categoryId %>" class="btn btn-outline-danger d-flex justify-content-center align-items-center px-3"><i class="fas fa-arrow-left"></i></a>
          <% } else { %>
            <a href="/" class="btn btn-outline-danger d-flex justify-content-center align-items-center px-3"><i class="fas fa-arrow-left"></i></a>
          <% } %>
          <div name="placeholder"></div>
      </div>
  </div>
  <div class="row mb-4">
      <div class="col-12 text-center">
        <% if (currentUser) { %>
          <h2 class="text-center"><%= section.name %></h2> 
        <% } else { %>
          <h2 class="text-center">Vygenerovaný balíček</h2>
        <% } %>
      </div>
      <% if (!demo) { %>
       <div class="col-12 d-flex justify-content-center mt-2">
        <a href="/category/<%= section.categoryId %>/section/<%= section._id %>/newCard" class="btn btn-lg btn-danger mx-1">Přidat kartičku</a>
        <a href="/category/<%= section.categoryId %>/section/<%= section._id %>/question/new" class="btn btn-lg btn-danger mx-1">Přidat otázku</a>
       </div>
      <% } else { %>
        <div class="col-12 d-flex justify-content-center mt-2">
          <a href="/category/<%= generatedCategoryId %>/section/<%= generatedSectionId %>/card30/1?mode=unknown&demo=true" class="btn btn-sm btn-danger mx-1">Procházet kartičky</a>
          <a href="/category/<%= generatedCategoryId %>/section/<%= generatedSectionId %>/test?demo=true" class="btn btn-sm btn-danger mx-1">Procházek otázky</a>
        </div>
      <% } %>
  </div>

  <% pairs.forEach((pair) => { 
       const card = pair.card;
       const question = pair.question;
  %>
    <div class="row">
      <!-- Card Column -->
      <div class="offset-sm-1 col-sm-5 mb-5">
              <% if (card) { %>
                <div class="card list-all-card d-flex justify-content-between flex-column" id="<%= card._id %>">
                  <div class="question"><%- card.pageA %></div>
                    <div><%- card.pageB %></div>
                    <% if (!demo) { %>
                      <div class="d-flex justify-content-end mb-2">
                          <a href="/cards/edit/<%=card._id%>" class="d-flex align-items-center justify-content-center mx-2 text-primary"><i class="far fa-edit"></i></a>
                          <a href="/review/<%= section._id %>/deleteCard/<%= card._id %>" class="d-flex align-items-center justify-content-center mx-2 review-delete-card-btn" style="color: red"><i class="far fa-trash-alt"></i></a>
                      </div>
                    <% } %>
                  </div>  
              <% } else { %>
                <div class="card list-all-card d-flex justify-content-between flex-column">
                  <div class="d-center h-100">
                      <p class="mb-0 text-muted text-center">Tato testová otázka nenavazuje na <br> žádnou kartičku.</p>
                  </div>
                </div>
              <% } %>
      </div>

      <!-- Question Column -->
      <div class="col-sm-5 mb-5">
          <% if (question) { %>
            <div class="card list-all-card d-flex justify-content-between flex-column" id="<%= question._id %>">
              <div>
                  <p class="question"><%- question.question %></p>
                  <p class="answer-item correct d-flex justify-content-between align-items-center"><span><%- question.correctAnswers[0] %></span><i class="far fa-check-circle icon-md"></i> </p>
                  <p class="answer-item wrong d-flex justify-content-between align-items-center"> <span><%- question.wrongAnswers[0] %></span> <i class="far fa-times-circle icon-md"></i></p>
                  <p class="answer-item wrong d-flex justify-content-between align-items-center"> <span><%- question.wrongAnswers[1] %></span> <i class="far fa-times-circle icon-md"></i></p>
              </div>
              <% if (!demo) { %>
                <div class="d-flex justify-content-end mb-2">
                  <a href="/category/<%= section.categoryId %>/section/<%= section._id %>/questions/<%= question._id %>/edit" class="d-flex align-items-center justify-content-center mx-2 text-primary"><i class="far fa-edit"></i></a>
                  <a href="/review/<%= section._id %>/deleteQuestion/<%= question._id %>" class="d-flex align-items-center justify-content-center mx-2 review-delete-question-btn" style="color: red"><i class="far fa-trash-alt"></i></a>
                </div>
              <% } else { %>
                <div name="placeholder" style="opacity: 0">X</div>
              <% } %>
            </div>
          <% } else { %>
            <div class="card list-all-card d-flex justify-content-between flex-column">
              <div class="d-center h-100">
                <p class="text-center text-muted">K této kartičce není přiřazena <br> žádná otázka.</p>
              </div>
            </div>
          <% } %>
        </div>
      </div>
  <% }) %>

  <!-- 
    2) Now show orphaned questions at the end 
       (those that were not paired with any card)
  -->
  <% if (orphanedQuestions.length > 0) { %>
    <% orphanedQuestions.forEach((question) => { %>
      <div class="row">
      <!-- Card Column -->
      <div class="offset-sm-1 col-sm-5 mb-5">
        <div class="card list-all-card d-flex justify-content-between flex-column">
            <div class="d-center h-100">
                <p class="mb-0 text-muted text-center">Tato testová otázka nenavazuje na <br> žádnou kartičku.</p>
            </div>
        </div>
      </div>

      <!-- Question Column -->
      <div class="col-sm-5 mb-5">
        <div class="card list-all-card d-flex justify-content-between flex-column" id="<%= question._id %>">
          <div>
              <p class="question"><%- question.question %></p>
              <p class="answer-item correct d-flex justify-content-between align-items-center"><span><%- question.correctAnswers[0] %></span><i class="far fa-check-circle icon-md"></i> </p>
              <p class="answer-item wrong d-flex justify-content-between align-items-center"> <span><%- question.wrongAnswers[0] %></span> <i class="far fa-times-circle icon-md"></i></p>
              <p class="answer-item wrong d-flex justify-content-between align-items-center"> <span><%- question.wrongAnswers[1] %></span> <i class="far fa-times-circle icon-md"></i></p>
          </div>
          
          <div class="d-flex justify-content-end mb-2">
              <a href="/category/<%= section.categoryId %>/section/<%= section._id %>/questions/<%= question._id %>/edit" class="d-flex align-items-center justify-content-center mx-2 text-primary"><i class="far fa-edit"></i></a>
              <a href="/review/<%= section._id %>/deleteQuestion/<%= question._id %>" class="d-flex align-items-center justify-content-center mx-2 review-delete-question-btn" style="color: red"><i class="far fa-trash-alt"></i></a>
            </div>
        </div>
      </div>
    </div>
    <% }) %>
  <% } %>
</div>

<!-- MODAL - Questions exist, can not generate with AI -->
<div class="modal fade" id="questionsExistModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center">Generování nelze provést, protože tento balíček již obsahuje otázky</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
            <p>Všechny kartičky v tomto balíčku obsahují testové otázky. Chcete-li vygenerovat nové otázky, odstraňte prosím existující otázky a aktualizujte stránku.</p>
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger mt-4" data-bs-dismiss="modal">Zavřít</button>
            </div>
        </div>
    </div>
    </div>
</div>

<!-- MODAL - No cards, can not generate with AI -->
<div class="modal fade" id="noCardsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered edit-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center">Generování nelze provést, protože tento balíček neobsahuje žádné kartičky</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body text-center">
            <p></p>
            <p>Generování testových otázek prostřednictvím umělé inteligence je možné pouze pokud balíček obsahuje <b>opakovací kartičky</b>.</p><p> Tyto kartičky slouží jako podklad, na základě kterého jsou následně testové otázky generovány.</p>
            <p>Chcete-li otázky vygenerovat, <b>vytvořte</b> v tomto balíčku opakovací kartičky.</p>
            <div class="d-flex justify-content-center">
                <a href="/category/<%= section.categoryId %>/section/<%= section._id %>/newCard" class="btn btn-danger mt-3 mx-2 mb-2">Vytvořit kartičky</a>
            </div>
        </div>
    </div>
    </div>
</div>
</main>
    <%- include('../partials/footer') %>
    <%- include('../partials/cookiesBar')%> 
    <!-- JS for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> 
    <script src="/js/jquery.min.js" ></script>
    <script src="https://kit.fontawesome.com/c9f8e59b45.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/cookies.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script src="/js/review.js"></script>
</body>
</html>

