<% layout ('layouts/boilerplate.ejs')  %> 
<% if (!currentUser){  %> 
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-4">
            <div class="card orange-shadow">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 class="p-3 mb-0"><i class="fas fa-lock fa-2x px-2"></i>Zaregistruj se a získej přístup ke stovkám kartiček zdarma</h5>
                        <p class="text-muted px-3"><small>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatao.</small></p>
                    </div>
                    <div class="col-sm-4 p-3 d-flex justify-content-center align-items-center">
                        <a class="btn btn-danger" href="/auth/user/new">Zaregistrovat se</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %> 
<div class="row mb-3">
    <div class="col-md-3 offset-md-1 mb-3">
        <div class="card shadow">
            <div class="card-body category-box">
                <i class="fas fa-user-lock mt-4 mb-2"></i>
                <p class="mt-2 mb-4"><%= title %> </p>
            </div>
        </div>
    </div>
    <div class="col-md-7 section-list">
        <div class="card shadow">
            <div class="card-body">
                    <div class="row">
                        <div class="col-9">                    
                                <p class="m-0 category-headline">Zvolte balíček</p>
                        </div>
                    </div>
                    <hr class="mt-0">
                <% if (category.sections.length < 1) { %>
                    <p>Kategorie neobsahuje žádné sekce.</p>
                <% } else { category.sections.forEach(section => { %>
                    <% if(section.isPublic){ %> 
                    <div class="row py-2">
                        <div class="col-7">                    
                                <% if(currentUser && currentUser.sections.includes(section._id)) { %>
                                    <p class="m-0 text-muted"><i class="fas fa-check-circle me-2" style="color:green"></i><%= section.name %></p>
                                <% } else { %>
                                    <p class="m-0"><i class="fas fa-layer-group me-2"></i><%= section.name %></p>
                                <% } %> 
                        </div>
                        <div class="col-3">
                            <% if (!currentUser){ %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger disabled">Zdarma po registraci</a>
                            <% } else if(currentUser.sections.includes(section._id)) { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/repeatSection" class="btn btn-sm btn-outline-danger" style="float:right">Opakovat</a>
                            <% } else { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger" style="float:right">Spustit</a>
                            <% } %> 
                        </div>
                        <div class="col-2 d-flex justify-content-evenly align-items-center">
                            <p class="m-0"><%= section.cards.length %> <i class="fas fa-scroll"></i></p>
                            <% if (currentUser && currentUser.admin) { %>
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square"></i></a>
                                <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>"><i class="fas fa-times px-1"></i></a>
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul"></i></a>
                            <% } %>
                        </div>
                    </div>
                    <hr class="">
                      <!-- Modal -->
                        <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center align-items-center">
                                    <a href="/category/<%= category.name %>/removeSection/<%= section._id %>/" class="btn btn-danger">Ano, odstranit</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    <% } %>
                    <% if(!section.isPublic && currentUser && currentUser.admin){ %> 
                        <div class="row py-2">
                            <div class="col-5">                    
                                    <% if(currentUser && currentUser.sections.includes(section._id)) { %>
                                        <p class="m-0 text-muted"><i class="fas fa-check-circle me-2" style="color:green"></i><%= section.name %></p>
                                    <% } else { %>
                                        <p class="m-0"><i class="fas fa-layer-group me-2"></i><%= section.name %></p>
                                    <% } %> 
                            </div>
                            <div class="col-2">
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/publish"" class="btn btn-sm btn-info">Zveřejnit</a>
                            </div>
                            <div class="col-3">
                                <% if (!currentUser){ %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger disabled">Zdarma po registraci</a>
                                <% } else if(currentUser.sections.includes(section._id)) { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/repeatSection" class="btn btn-sm btn-outline-danger" style="float:right">Opakovat</a>
                                <% } else { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger" style="float:right">Spustit</a>
                                <% } %> 
                            </div>
                            <div class="col-2 d-flex justify-content-evenly align-items-center">
                                <p class="m-0"><%= section.cards.length %> <i class="fas fa-scroll"></i></p>
                                <% if (currentUser && currentUser.admin) { %>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square"></i></a>
                                    <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>"><i class="fas fa-times px-1"></i></a>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul"></i></a>
                                <% } %>
                            </div>
                        </div>
                        <hr class="">
                          <!-- Modal -->
                            <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <a href="/category/<%= category.name %>/removeSection/<%= section._id %>/" class="btn btn-danger">Ano, odstranit</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <% } %>

                <% }) }%>
            </div>
        </div>
    </div>
</div>
<% if (currentUser && currentUser.admin) { %>
<div class="row">
    <div class="col-md-7 offset-md-4 mb-3 mt-4">
        <div class="card shadow add-section">
            <div class="card-body pb-0">
                <form action="/category/<%= category.name  %>/newSection" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-2 col-form-label">Přidat sekci</label>
                        <div class="col-4">
                            <input type="text" class="form-control" id="name" name="name">
                        </div>
                        <div class="col-3">
                            <input type="text" class="form-control-plaintext" id="category" name="category" value="<%= category.name %>" readonly>
                        </div>
                        <div class="col-3">
                            <button class="btn btn-danger btn-sm w-100">Přidat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% } %>