<% layout ('layouts/boilerplate.ejs')  %> 

<!-- DEMO banner - only for not registered users -->
<% if (!currentUser){  %> 
    <div class="row">
        <div class="col-md-10 offset-md-1 mb-5">
            <div class="card orange-shadow">
                <div class="row">
                    <div class="col-lg-8">
                        <h5 class="px-3 pt-3 pb-2 mb-0">Zaregistruj se a získej přístup ke stovkám kartiček zdarma</h5>
                        <p class="text-muted px-3"><small>Rychlá a bezplatná registrace ti umožní využít potenciálu InLege naplno!</small></p>
                    </div>
                    <div class="col-lg-4 p-3 d-flex justify-content-around align-items-center">
                        <a class="btn btn-danger" href="/auth/user/new">Zaregistrovat se</a>
                        <% if(demoCat.basicSections.length > 0){ %> 
                            <a class="btn btn-outline-danger" href="/category/demo/section/<%= demoCat.basicSections[0]%>/1">Vyzkoušet demo</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% } %> 


<div class="row mb-3">
    <!-- CATEGORY left box (ikon + name) -->
    <div class="col-md-3 offset-md-1 mb-3">
        <div class="card shadow">
            <div class="card-body category-box d-flex flex-column align-items-center justify-content-center">
                <div class="rounded-circle icon-background d-flex justify-content-center align-items-center">
                    <% if(category.name === "demo"){ %> <img src="/img/icon_tresthmota.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "trestnipravo"){ %> <img src="/img/icon_tresthmota.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "obcanskepravo"){ %> <img src="/img/icon_civilhmota.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "spravnipravo"){ %> <img src="/img/icon_sprava.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "ustavnipravo"){ %> <img src="/img/icon_ustavko.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "obchodnipravo"){ %> <img src="/img/icon_obchod.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "mezinarodnipravo"){ %> <img src="/img/icon_mezinarodko.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "trestniproces"){ %> <img src="/img/icon_trestproces.png" class="img-fit" alt="" /> <% } %>
                    <% if(category.name === "civilniproces"){ %> <img src="/img/icon_civilproces.png" class="img-fit" alt="" /> <% } %>
                </div>
                <p class="mt-4 mb-2"><%= title %> </p>
            </div>
        </div>
    </div>

    <!-- CATEGORY - list of sections -->
    <div class="col-md-7 section-list">

        <!-- ZAKLADNI BALICKY -->
        <div class="card shadow">
            <div class="card-body">
                    <div class="row">
                        <div class="col-9">                    
                                <p class="m-0 category-headline">Základní balíčky</p>
                        </div>
                    </div>
                    <hr class="mt-0">
                <% if (category.basicSections.length < 1) { %>
                    <p>Kategorie neobsahuje žádné sekce.</p>
                <% } else { category.basicSections.forEach(section => { %>

                    <!-- SEZNAM ZAKLADNICH BALICKU -->
                    <% if(section.isPublic){ %> 
                    <div class="row py-1">
                        <div class="col-7 d-flex align-items-center">                    
                                <% if(currentUser && currentUser.sections.includes(section._id)) { %>
                                    <i class="fas fa-check-circle me-2" style="color:#AF0171"></i>
                                    <div>
                                        <p class="m-0 text-muted text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } else if (section.isPremium) { %>
                                    <i class="fas fa-star me-2"></i>
                                    <div>
                                        <p class="m-0 text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } else { %> 
                                    <i class="fas fa-layer-group me-2"></i>
                                    <div>
                                        <p class="m-0 text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } %>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <% if (!currentUser){ %> 
                                <% if(!section.isPremium){ %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger disabled">Zdarma po registraci</a>    
                                <% } else { %>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-warning disabled" style="float:right">Premium</a>
                                <% } %>  
                            <% } else if(!currentUser.isPremium && section.isPremium){ %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-warning disabled" style="float:right">Premium</a>
                            <% } else if(currentUser.sections.includes(section._id)) { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/repeatSection" class="btn btn-sm btn-outline-danger" style="float:right">Opakovat</a>
                            <% } else if (section.isUnfinished) { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/<%= section.lastSeenCard %>" class="btn btn-sm btn-outline-secondary" style="float:right">Pokračovat</a>
                            <% } else { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger" style="float:right">Spustit</a>
                            <% } %>
                        </div>
                        <div class="col-2 d-flex justify-content-evenly align-items-center">
                            <p class="m-0">
                                <% if (section.isUnfinished){ %>
                                    <%- section.lastSeenCard - 1 %> /  
                                <% } %>
                                <%= section.cards.length %> 
                                <i class="fas fa-scroll"></i>
                            </p>
                            <% if (currentUser && currentUser.admin) { %>
                                <a href="/category/<%= category.name %>/sectionUp/<%= section._id %>"><i class="fas fa-arrow-up"></i></a>
                                <a href="/category/<%= category.name %>/sectionDown/<%= section._id %>"><i class="fas fa-arrow-down"></i></a>
                                <a href="/category/<%= category.name %>/editSection/<%= section._id %>"><i class="far fa-edit"></i></a>
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square"></i></a>
                                <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>"><i class="fas fa-times px-1"></i></a>
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul"></i></a>
                            <% } %>
                        </div>
                    </div>
                    <hr class="">

                      <!-- MODAL - Delete section confirmation -->
                        <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center align-items-center">
                                    <a href="/category/<%= category.name %>/removeSection/<%= section._id %>/" class="btn btn-danger">Ano, odstranit</a>
                                </div>
                            </div>
                            </div>
                        </div>

                    <% } %>

                    <!-- ADMIN VIEW -->
                    <% if(!section.isPublic && currentUser && currentUser.admin){ %> 
                        <div class="row py-1">
                            <div class="col-5 d-flex align-items-center">                    
                                <% if(currentUser && currentUser.sections.includes(section._id)) { %>
                                    <i class="fas fa-check-circle me-2" style="color:#AF0171"></i>
                                    <div>
                                        <p class="m-0 text-muted text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } else if (section.isPremium) { %>
                                    <i class="fas fa-star me-2"></i>
                                    <div>
                                        <p class="m-0 text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } else { %> 
                                    <i class="fas fa-layer-group me-2"></i>
                                    <div>
                                        <p class="m-0 text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } %>
                            </div>
                            <div class="col-2">
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/publish"" class="btn btn-sm btn-info">Zveřejnit</a>
                            </div>
                            <div class="col-2 d-flex justify-content-center align-items-center">
                                <% if (!currentUser){ %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger disabled">Zdarma po registraci</a>
                                <% } else if(currentUser.sections.includes(section._id)) { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/repeatSection" class="btn btn-sm btn-outline-danger" style="float:right">Opakovat</a>
                                <% } else if (section.isUnfinished) { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/<%= section.lastSeenCard %>" class="btn btn-sm btn-outline-secondary" style="float:right">Pokračovat</a>
                                <% } else { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger" style="float:right">Spustit</a>
                                <% } %>
                            </div>
                            <div class="col-3 d-flex justify-content-evenly align-items-center">
                                <p class="m-0"> 
                                    <% if (section.isUnfinished){ %>
                                        <%- section.lastSeenCard - 1 %> /  
                                    <% } %>
                                    <%= section.cards.length %> 
                                    <i class="fas fa-scroll"></i>
                                </p>
                                <% if (currentUser && currentUser.admin) { %>
                                    <a href="/category/<%= category.name %>/sectionUp/<%= section._id %>"><i class="fas fa-arrow-up"></i></a>
                                    <a href="/category/<%= category.name %>/sectionDown/<%= section._id %>"><i class="fas fa-arrow-down"></i></a>
                                    <a href="/category/<%= category.name %>/editSection/<%= section._id %>"><i class="far fa-edit"></i></a>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square"></i></a>
                                    <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>"><i class="fas fa-times px-1"></i></a>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul"></i></a>
                                <% } %>
                            </div>
                        </div>
                        <hr class="">

                          <!-- MODAL - Delete section confirmation -->
                            <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <a href="/category/<%= category.name %>/removeSection/<%= section._id %>/" class="btn btn-danger">Ano, odstranit</a>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <% } %>

                <% }) }%>
            </div>
        </div>

        <!-- PREMIUM BALICKY -->
        <div class="card shadow mt-4">
            <div class="card-body">
                    <div class="row">
                        <div class="col-9">                    
                                <p class="m-0 category-headline">Premium balíčky</p>
                        </div>
                    </div>
                    <hr class="mt-0">
                <% if (category.premiumSections.length < 1) { %>
                    <p>Kategorie neobsahuje žádné sekce.</p>
                <% } else { category.premiumSections.forEach(section => { %>

                    <!-- SEZNAM ZAKLADNICH BALICKU -->
                    <% if(section.isPublic){ %> 
                    <div class="row py-2">
                        <div class="col-7 d-flex align-items-center">                    
                            <% if(currentUser && currentUser.sections.includes(section._id)) { %>
                                <i class="fas fa-check-circle me-2" style="color:#AF0171"></i>
                                <div>
                                    <p class="m-0 text-muted text-package-title"><%= section.name %></p>
                                    <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                </div>
                            <% } else if (section.isPremium) { %>
                                <i class="fas fa-star me-2"></i>
                                <div>
                                    <p class="m-0 text-package-title"><%= section.name %></p>
                                    <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                </div>
                            <% } else { %> 
                                <i class="fas fa-layer-group me-2"></i>
                                <div>
                                    <p class="m-0 text-package-title"><%= section.name %></p>
                                    <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                </div>
                            <% } %>
                        </div>
                        <div class="col-3 d-flex justify-content-center align-items-center">
                            <% if (!currentUser){ %> 
                                <% if(!section.isPremium){ %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger disabled">Zdarma po registraci</a>    
                                <% } else { %>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-warning disabled" style="float:right">Premium</a>
                                <% } %>  
                            <% } else if(!currentUser.isPremium && section.isPremium){ %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-warning disabled" style="float:right">Premium</a>
                            <% } else if(currentUser.sections.includes(section._id)) { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/repeatSection" class="btn btn-sm btn-outline-danger" style="float:right">Opakovat</a>
                            <% } else if (section.isUnfinished) { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/<%= section.lastSeenCard %>" class="btn btn-sm btn-outline-secondary" style="float:right">Pokračovat</a>
                            <% } else { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger" style="float:right">Spustit</a>
                            <% } %>
                        </div>
                        <div class="col-2 d-flex justify-content-evenly align-items-center">
                            <p class="m-0">
                                <% if (section.isUnfinished){ %>
                                    <%- section.lastSeenCard - 1 %> /  
                                <% } %>
                                <%= section.cards.length %> 
                                <i class="fas fa-scroll"></i>
                            </p>
                            <% if (currentUser && currentUser.admin) { %>
                                <a href="/category/<%= category.name %>/sectionUp/<%= section._id %>"><i class="fas fa-arrow-up"></i></a>
                                <a href="/category/<%= category.name %>/sectionDown/<%= section._id %>"><i class="fas fa-arrow-down"></i></a>
                                <a href="/category/<%= category.name %>/editSection/<%= section._id %>"><i class="far fa-edit"></i></a>
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square"></i></a>
                                <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>"><i class="fas fa-times px-1"></i></a>
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul"></i></a>
                            <% } %>
                        </div>
                    </div>
                    <hr class="">

                      <!-- MODAL - Delete section confirmation -->
                        <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center align-items-center">
                                    <a href="/category/<%= category.name %>/removeSection/<%= section._id %>/" class="btn btn-danger">Ano, odstranit</a>
                                </div>
                            </div>
                            </div>
                        </div>

                    <% } %>
                    <% if(!section.isPublic && currentUser && currentUser.admin){ %> 
                        <div class="row py-2">
                            <div class="col-5 d-flex align-items-center">                    
                                <% if(currentUser && currentUser.sections.includes(section._id)) { %>
                                    <i class="fas fa-check-circle me-2" style="color:#AF0171"></i>
                                    <div>
                                        <p class="m-0 text-muted text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } else if (section.isPremium) { %>
                                    <i class="fas fa-star me-2"></i>
                                    <div>
                                        <p class="m-0 text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } else { %> 
                                    <i class="fas fa-layer-group me-2"></i>
                                    <div>
                                        <p class="m-0 text-package-title"><%= section.name %></p>
                                        <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    </div>
                                <% } %>
                        </div>
                            <div class="col-2">
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/publish"" class="btn btn-sm btn-info">Zveřejnit</a>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                <% if (!currentUser){ %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger disabled">Zdarma po registraci</a>
                                <% } else if(currentUser.sections.includes(section._id)) { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/repeatSection" class="btn btn-sm btn-outline-danger" style="float:right">Opakovat</a>
                                <% } else if (section.isUnfinished) { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/<%= section.lastSeenCard %>" class="btn btn-sm btn-outline-secondary" style="float:right">Pokračovat</a>
                                <% } else { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/1" class="btn btn-sm btn-danger" style="float:right">Spustit</a>
                                <% } %>
                            </div>
                            <div class="col-2 d-flex justify-content-evenly align-items-center">
                                <p class="m-0">
                                    <% if (section.isUnfinished){ %>
                                    <%- section.lastSeenCard - 1 %> /  
                                <% } %>
                                    <%= section.cards.length %>  
                                    <i class="fas fa-scroll"></i>
                                </p>
                                <% if (currentUser && currentUser.admin) { %>
                                    <a href="/category/<%= category.name %>/sectionUp/<%= section._id %>"><i class="fas fa-arrow-up"></i></a>
                                    <a href="/category/<%= category.name %>/sectionDown/<%= section._id %>"><i class="fas fa-arrow-down"></i></a>
                                    <a href="/category/<%= category.name %>/editSection/<%= section._id %>"><i class="far fa-edit"></i></a>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square"></i></a>
                                    <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>"><i class="fas fa-times px-1"></i></a>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul"></i></a>
                                <% } %>
                            </div>
                        </div>
                        <hr class="">

                          <!-- MODAL - Delete section confirmation -->
                            <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <a href="/category/<%= category.name %>/removeSection/<%= section._id %>/" class="btn btn-danger">Ano, odstranit</a>
                                    </div>
                                </div>
                                </div>
                            </div>

                        <% } %>
                <% }) }%>
            </div>
        </div>
    </div>
</div>

<!-- Pouze admin - formular pro pridani sekce -->
<% if (currentUser && currentUser.admin) { %>
<div class="row">
    <div class="col-md-7 offset-md-4 mb-3 mt-4">
        <div class="card shadow add-section">
            <div class="card-body pb-0">
                <form action="/category/<%= category.name  %>/newSection" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-2 col-form-label">Přidat sekci</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Název sekce" required>
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control-plaintext" id="category" name="category" value="<%= category.name %>" readonly>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="desc" class="col-2 col-form-label">Popis</label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="desc" name="desc" placeholder="Krátký popis">
                        </div>
                        <div class="col-4">
                            <select class="form-select" name="isPremium" id="isPremium">
                                <option value="zdarma">Zdarma</option>
                                <option value="premium">Premium</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-danger w-100">Přidat</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% } %>