<% layout ('layouts/boilerplate.ejs')  %> 

<div class="row mb-3" id="sections-container">
    <!-- CATEGORY left box (ikon + name) -->
    <div class="col-md-4 col-lg-3 offset-lg-1 mb-3">
        <div class="card">
            <div class="card-body category-box d-flex flex-column align-items-center justify-content-center pt-4">
                <div class="rounded-circle icon-background-large d-flex justify-content-center align-items-center">
                    <img src="/img/<%= category.icon %>" class="img-fit" alt="" />
                </div>
                <h4 class="mt-4 mb-2"><%= title %> </h4>
                <div>
                    <div class="mb-2 mt-3 px-3 py-2 category-info d-flex align-items-center justify-content-between">
                        <p class="mb-0"><b><%= category.numOfCards  %></b> <%= texts.categoryPage.cardsToStudy %></p>
                        <% if (currentUser) { %>
                            <a href="/category/<%= category.name %>/randomCards" class="btn btn-sm btn-danger mx-2">Shuffle</a>
                        <% } %>
                    </div>
                    <% if (category.numOfQuestions > 0) { %>
                        <div class="mb-2 mt-3 px-3 py-2 category-info d-flex align-items-center justify-content-between">
                            <p class="mb-0"><b><%= category.numOfQuestions  %></b> testových otázek</p>
                            <% if (currentUser) { %>
                                <a href="/category/<%= category._id %>/testRandom" class="btn btn-sm btn-danger mx-2">Shuffle</a>
                            <% } %>
                        </div>
                    <% } %>
                </div>
            </div>
            <% if(!currentUser || (currentUser && !currentUser.usedMobileApp)){ %>
                <div class="card-body d-flex flex-column align-items-center justify-content-center">
                    <p class="text-center">Vyzkoušej i <b>mobilní aplikaci</b> <b class="color-primary">InLege</b>!</p>
                    <div class="d-flex justify-content-evenly align-items-center">
                    <a href="https://apps.apple.com/us/app/inlege/id6670204630" target="_blank" class="btn btn-outline-danger mx-2 text-small"><i class="fab fa-apple"></i> <span class="hide-under-1200">iOS</span></a>
                    <a href="https://play.google.com/store/apps/details?id=cz.inlege.InLege" target="_blank" class="btn btn-outline-danger mx-2 text-small"><i class="fab fa-android"></i> <span class="hide-under-1200">Android</span></a>
                    </div>
                </div>
            <% } %>

            <% if(currentUser && !currentUser.isEmailVerified){ %>
                <div class="row">
                    <div class="col-12">
                        <div class="card border-grey m-2">
                            <div class="card-body card-info d-flex flex-row align-items-center justify-content-around">
                                <p class="text-center mb-0">Ověř prosím svou <b>e-mailovou adresu</b></p>
                                <a href="/auth/user/requestEmailVerification" class="btn btn-sm btn-danger mx-2">Ověřit</a>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </div>

    <!-- CATEGORY - list of sections -->
    <div class="col-md-8 col-lg-7 section-list">
        <!-- CATEGORY - list of sections -->
        <div class="card mb-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-11">  
                        <h5 class="m-0 mb-1 mt-1">Balíčky</h5>
                    </div>
                    <div class="col-1 d-flex justify-content-end align-items-center">
                        <% if (currentUser) { %>
                            <a href="" class="color-text" id="menu-icon" data-bs-toggle="modal" data-bs-target="#sectionSettingsModal"><i class="fas fa-bars"></i></a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <% if (category.sections.length < 1) { %>
            <p><%= texts.categoryPage.noPackages %></p>
        <% } else { category.sections.forEach(section => { %>
            <% if (section.isPublic || (currentUser && (currentUser.admin || currentUser.isEditor))) { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <% if (!section.isPublic && !section.testIsPublic) { %>
                                <div class="col-lg-12 col-12 d-flex align-items-center">
                                    <div class="w-100"><span class="badge bg-warning w-100">Nepublikováno - celý balíček</span></div>
                                </div>
                            <% } else if (section.isPublic && !section.testIsPublic && section.questions && (currentUser && (currentUser.admin || currentUser.isEditor))){ %>
                                <div class="col-lg-12 col-12 d-flex align-items-center">
                                    <div class="w-100"><span class="badge bg-warning w-100">Nepublikováno - testové otázky nejsou zveřejněny</span></div>
                                </div>
                            <% } %>
                            <div class="col-lg-8 col-12 d-flex align-items-center">
                                <div>  
                                    <p class="m-0 section-name"><%= section.name %></p>
                                    <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    <p class="text-muted text-small mb-1"><%= section.cards.length %> kartiček / <%= section.questions.length %> otázek</p>
                                    <% if (section.isPremium) { %>
                                        <span class="badge bg-warning color-text text-normal mb-2 mb-lg-0"><i class="fas fa-crown text-tiny"></i> Premium</span>
                                    <% } %>
                                    <% if (currentUser && currentUser.isEditor) { %>
                                        <a href="#" class="text-small" data-bs-toggle="modal" data-bs-target="#editSectionModal<%=section._id%>"><i class="fas fa-cog"></i> Upravit</a>
                                    <% } %>
                                </div>
                            </div>
                                <div class="col-lg-2 col-6">  
                                    <% if (section.cards.length) { %> 
                                    <div class="section-box">
                                        <p>Kartičky</p>
                                        <div><% if (section.knownPercentage === 100) { %>
                                                <span class="badge section-progress-badge badge-green-full" title="Umíš <%= section.knownCount %> z <%= section.cards.length %> kartiček"><%= section.knownCount %> / <%= section.cards.length %></span>
                                            <% } else if (section.knownPercentage > 90) { %>
                                                <span class="badge section-progress-badge badge-green-outline" title="Umíš <%= section.knownCount %> z <%= section.cards.length %> kartiček"><%= section.knownCount %> / <%= section.cards.length %></span>
                                            <% } else { %>
                                                <span class="badge section-progress-badge badge-grey-outline" title="Umíš <%= section.knownCount %> z <%= section.cards.length %> kartiček"><%= section.knownCount %> / <%= section.cards.length %></span>
                                            <% } %>
                                        </div>
                                        <div>
                                            <% if (section.isPremium && (!currentUser || !currentUser.isPremium)) { %> 
                                                <a href="/premium" class="btn btn-sm btn-warning btn-spustit w-100 mt-2"><i class="fas fa-crown text-small"></i> Premium</a>
                                            <% } else if (section.cards.length > 0) { %>
                                                <a href="/category/<%= category.name %>/section/<%= section._id %>/card30/1?mode=unknown" class="btn btn-sm btn-danger btn-spustit w-100 mt-2">Spustit</a>
                                            <% } %>
                                        </div>
                                    </div> 
                                    <% } %>
                                </div>
                            <div class="col-lg-2 col-6">  
                                <% if (section.questions.length) { %> 
                                    <div class="section-box">
                                        <p>Otázky</p>
                                        <div>
                                            <% if (section.isFinishedQuestions) { %>
                                                    <% if (section.lastTestResult === 100) { %>
                                                        <span class="badge section-progress-badge badge-green-full" title="Tvá úspěšnost v posledním testu">100 %</span>
                                                    <% } else if (section.lastTestResult > 90) { %>
                                                        <span class="badge section-progress-badge badge-green-outline" title="Tvá úspěšnost v posledním testu"><%= section.lastTestResult %> %</span>
                                                    <% } else { %>
                                                        <span class="badge section-progress-badge badge-grey-outline" title="Tvá úspěšnost v posledním testu"><%= section.lastTestResult %> %</span>
                                                    <% } %>
                                            <% } else { %>
                                                <span class="badge section-progress-badge badge-grey-outline" title="Tento test jsi ještě neabsolvoval">0 %</span>
                                            <% } %>
                                        </div>
                                        <div>
                                            <% if (section.isPremium && (!currentUser || !currentUser.isPremium)) { %> 
                                                <a href="/premium" class="btn btn-sm btn-warning btn-spustit w-100 mt-2"><i class="fas fa-crown text-small"></i> Premium</a>
                                            <% } else if (currentUser) { %>
                                                <a href="/category/<%= category._id %>/section/<%= section._id %>/test" class="btn btn-sm btn-danger btn-spustit w-100 mt-2">Spustit</a>
                                            <% } else { %>
                                                <a href="#" class="btn btn-sm btn-danger btn-spustit w-100 mt-2 disabled">Po registraci</a>
                                            <% } %>                                      
                                        </div>
                                    </div> 
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        <% })} %>
    </div>
</div>

<div id="loader" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

   <!-- MODAL - Section Settings (Flexbox version) -->
<div class="modal fade" id="sectionSettingsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable edit-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nastavení předmětu</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Resetování kartiček -->
          <div class="d-flex flex-column mb-3">
            <h6 class="mb-2">Resetování kartiček</h6>
            <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
              <p class="me-3 flex-grow-1 text-smaller">
                Resetování kartiček znamená, informace o tom, které kartičky umíš a které ne budou odstraněny a začneš studovat tento předmět od začátku.
              </p>
              <a href="/category/<%= category.name %>/resetCards" class="btn btn-danger btn-sm">Resetovat</a>
            </div>
          </div>
          <hr />
          <!-- Resetování otázek -->
          <div class="d-flex flex-column">
            <h6 class="mb-2">Resetování otázek</h6>
            <div class="d-flex justify-content-between align-items-center flex-sm-row flex-column">
              <p class="me-3 flex-grow-1 text-smaller">
                Resetování otázek znamená, že tvé výsledky testů v tomto předmětu budou odstraněny.
              </p>
              <a href="/category/<%= category.name %>/resetQuestions" class="btn btn-danger btn-sm">Resetovat</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!-- Pouze editor - formular pro pridani sekce -->
<% if (currentUser && currentUser.isEditor) { %>
    <div class="row" id="add-section-container">
        <div class="col-md-7 offset-md-4 mb-3 mt-4">
            <div class="card add-section">
                <div class="card-body pb-0">
                    <h4>Přidat nový balíček</h4>
                    <form action="/category/<%= category.name  %>/newSection" method="POST">
                        <div class="form-group row">
                            <label for="name" class="col-lg-3 col-form-label">Nadpis</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control form-borders" id="name" name="name" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <label for="desc" class="col-lg-3 col-form-label">Podnadpis</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control form-borders" id="desc" name="desc" required>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <label for="desc" class="col-lg-3 col-form-label">JSON</label>
                            <div class="col-lg-6">
                                <textarea id="jsonData" name="jsonData" class="form-control form-borders" placeholder="Vložte data ve formátu JSON (volitelné)"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <label for="previousSection" class="col-lg-3 col-form-label">Navazuje na</label>
                            <div class="col-lg-6">
                                <select class="form-select form-borders" name="previousSection" id="previousSection">
                                    <option value="lastSection">nenavazuje na jiný balíček</option>
                                    <% category.sections.forEach(section => { %>
                                        <option value="<%= section._id %>"><%= section.name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <label for="isPremium" class="col-lg-3 col-form-label">Dostupnost</label>
                            <div class="col-lg-4">
                                <select class="form-select form-borders" name="isPremium" id="isPremium">
                                    <option value="zdarma">Zdarma</option>
                                    <option value="premium">Premium</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 my-3">
                                <button class="btn btn-danger">Přidat balíček</button>
                                <a href="" class="btn btn-danger m-1" data-bs-toggle="modal" data-bs-target="#createWithAIModal">Vytvořit pomocí AI</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL - Create section with AI -->
    <div class="modal fade" id="createWithAIModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered edit-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vytvořit nový balíček (pomocí AI)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body m-2 pt-0">
                <div id="document-formats-container">
                    <p class="text-muted text-smaller mb-1">Nahrajte soubor ve formátu .docx, .pdf nebo .pptx.</p>
                    <p class="text-muted text-smaller mb-3">Zbývá vám ještě <b><%= currentUser.credits %></b> kreditů.</p>
                </div>
                <form action="/category/<%= category._id  %>/newSectionFromDocument" id="add-section-with-ai-form" method="POST" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="name" class="col-lg-4 col-form-label">Nadpis</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control form-borders" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="desc" class="col-lg-4 col-form-label">Podnadpis</label>
                        <div class="col-lg-8">
                            <input type="text" class="form-control form-borders" id="desc" name="desc" required>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="desc" class="col-lg-4 col-form-label d-flex align-items-center">Kartiček/strana</label>
                        <div class="col-lg-8">
                        <div class="scale-container">
                                <input type="range" class="scale-input" name="cardsPerPage" min="1" max="8" step="1" value="4">
                                <div class="scale-labels">
                                <span>1</span>
                                <span>2</span>
                                <span>3</span>
                                <span>4</span>
                                <span>5</span>
                                <span>6</span>
                                <span>7</span>
                                <span>8</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="desc" class="col-lg-4 col-form-label d-flex align-items-center">Velikost balíčku</label>
                        <div class="col-lg-8">
                        <div class="scale-container">
                                <input type="range" class="scale-input" name="sectionSize" min="10" max="30" step="5" value="20">
                                <div class="scale-labels">
                                <span>10</span>
                                <span>15</span>
                                <span>20</span>
                                <span>25</span>
                                <span>30</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row mt-5">
                        <label for="document" class="col-lg-4 col-form-label">Nahrát dokument</label>
                        <div class="col-lg-8">
                            <input class="form-control form-borders border-darkgrey" type="file" id="document" name="document" accept=".pdf, .docx, .pptx" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-center mt-5">
                            <button class="btn btn-danger w-100" id="add-section-with-ai-btn">Vygenerovat balíček z dokumentu</button>
                        </div>
                    </div>
                </form>
                <div id="document-progress-container">
                    <h5 class="mt-3 text-center mb-3">Generuji kartičky a otázky...</h5>
                    <div id="progress-bar-container">
                    <div id="progress-bar"></div>
                    </div>
                    <p id="progress-text">Čekám na nahrání souboru...</p>
                </div>
                <div id="document-success-container" style="display: none;">
                    <h5 class="mt-3 text-center">Dokončeno!</h5>
                    <p id="document-success-text" class="text-center">Zbývá vám ještě 0 kreditů.</p>
                    <p class="text-smaller text-muted text-center">Za vytvoření každé kartičky nebo testové otázky se vám odečte jeden kredit.</p>
                </div>   
                <div id="document-error-container" style="display: none;">
                    <h5 class="mt-3 text-center">Nemáte dostatek kreditů</h5>
                    <p class="text-center" id="document-error-text"></p>
                </div>                  
            </div>
        </div>
        </div>
    </div>


<% } %>

<% if (category.sections.length > 0 && currentUser && currentUser.isEditor) { %>
    <% category.sections.forEach(section => { %>
        <!-- MODAL - Edit section -->
        <div class="modal fade" id="editSectionModal<%=section._id%>" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered edit-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upravit balíček</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <% if (!section.isPublic) { %>
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
                                    <p class="mb-0">Balíček není zveřejněn pro studenty</p>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/publish"" class="btn btn-sm btn-success mx-2">Zveřejnit</a>
                                  </div>
                            </div>
                        </div>
                    <% } %>
                    <% if (section.isPublic && !section.testIsPublic && section.questions.length > 0) { %>
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-warning d-flex justify-content-between align-items-center" role="alert">
                                    <p class="mb-0">Testové otázky nejsou zveřejněny pro studenty</p>
                                    <a href="/category/<%= category._id %>/section/<%= section._id %>/publishTest"" class="btn btn-sm btn-success mx-2">Zveřejnit</a>
                                  </div>
                            </div>
                        </div>
                    <% } %>
                    <div class="row">
                        <div class="col-12 d-flex justify-content-between">
                            <h5>Základní informace</h5>
                            <a href="/category/<%= category.name %>/editSection/<%= section._id %>" class="text-smaller">změnit</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Nadpis</p>
                        </div>
                        <div class="col-9">
                            <p class="text-muted"><%= section.name %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Podnadpis</p>
                        </div>
                        <div class="col-9">
                            <p class="text-muted"><%= section.shortDescription %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>ID</p>
                        </div>
                        <div class="col-9">
                            <p class="text-muted"><%= section._id %></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Statistiky</p>
                        </div>
                        <div class="col-9">
                            <div class="d-flex">
                                <p class="text-muted mb-0">Spuštění: <%= section.countStarted %> <span class="mx-2">|</span></p>
                                <p class="text-muted mb-0">Dokončení: <%= section.countFinished %> <span class="mx-2">|</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p>Navazující balíček</p>
                        </div>
                        <div class="col-9">
                            <p class="text-muted"><%= section.nextSection %></p>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <h5>Akce</h5>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <p>Kartičky</p>
                        </div>
                        <div class="col-9">
                            <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="btn btn-sm btn-danger">Přidat kartičku</a>
                            <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards" class="btn btn-sm btn-outline-danger">Zobrazit všechny kartičky</a>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <p>Otázky</p>
                        </div>
                        <div class="col-9">
                            <a href="/category/<%= category._id %>/section/<%= section._id %>/question/new" class="btn btn-sm btn-danger">Přidat otázku</a>
                            <a href="/category/<%= category._id %>/section/<%= section._id %>/list" class="btn btn-sm btn-outline-danger">Zobrazit všechny otázky</a>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <p>Pořadí balíčku</p>
                        </div>
                        <div class="col-9">
                            <a href="/category/<%= category.name %>/sectionUp/<%= section._id %>" class="btn btn-sm btn-danger">Posunout nahoru</a>
                            <a href="/category/<%= category.name %>/sectionDown/<%= section._id %>" class="btn btn-sm btn-outline-danger">Posunout dolů</a>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <p>Zařazení balíčku</p>
                        </div>
                        <div class="col-9">
                            <% if (!section.isPremium) { %>
                                <a href="/category/<%= category.name %>/sectionStatus/<%= section._id %>/toPremium" class="btn btn-sm btn-danger">Změnit na premium</a>
                                <span class="text-muted">(aktuálně zdarma)</span>
                            <% } %>
                            <% if (section.isPremium) { %>
                                <a href="/category/<%= category.name %>/sectionStatus/<%= section._id %>/toZdarma" class="btn btn-sm btn-danger">Změnit na zdarma</a>
                                <span class="text-muted">(aktuálně premium)</span>
                            <% } %>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-3">
                            <p>Export</p>
                        </div>
                        <div class="col-9">
                            <a href="/category/<%= category.name %>/generateJSON/<%= section._id %>" class="btn btn-sm btn-danger">Vygenerovat JSON</a>
                        </div>
                    </div>
                    <% if (currentUser.admin) { %>
                        <div class="row mb-2 mt-4">
                            <div class="col-3">
                                <p>Odstranit balíček</p>
                            </div>
                            <div class="col-9">
                                <a href="#" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>">Odstranit</a>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
            </div>
        </div>

        <!-- MODAL - Delete section -->
        <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered edit-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Opravdu chcete odstranit tento balíček?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body d-flex justify-content-center align-items-center">
                    <form action="/category/<%= category.name %>/removeSection/<%= section._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Ano, odstranit</button>
                    </form>
                </div>
            </div>
            </div>
        </div>
    <% }) %>
<% } %>

<% if (currentUser && (currentUser.admin || currentUser.isEditor)) { %>
    <script src="/js/document.js"></script>
<% } %>

<% if(currentUser && !currentUser.appAnnouncementModalShown){ %>
    <!-- MODAL - App Anouncement with script -->
    <div class="modal fade" id="appAnouncementModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered edit-modal">
        <div class="modal-content">
            <div class="modal-body">
                <div class="d-flex justify-content-between w-100">
                    <div></div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <h3 class="text-center mt-3">Mobilní aplikace InLege je tady!</h3>
                <p class="text-center">Stáhni si aplikaci InLege a uč se kdekoli a kdykoli!</p>
                <div class="d-flex justify-content-center mt-4">
                    <a href="https://apps.apple.com/us/app/inlege/id6670204630" target="_blank" class="btn btn-danger mx-2">App Store</a>
                    <a href="https://play.google.com/store/apps/details?id=cz.inlege.InLege&hl=en" target="_blank" class="btn btn-danger mx-2">Google Play</a>
                </div>
                <div>
                    <img src="/img/inlege_app_mock.png" alt="InLege App" class="img-fluid">
                </div>
            </div>
        </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var appAnouncementModal = new bootstrap.Modal(document.getElementById("appAnouncementModal"));
            appAnouncementModal.show();
        });
        //send post request to /admin/appAnnounced to set appAnnouncementModalShown to true to prevent showing the modal again
        fetch("/api/appAnnounced", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({}),
        });
    </script>
<% } %>