<% layout ('layouts/boilerplate.ejs')  %> 

<div class="row mb-3">
    <!-- CATEGORY left box (ikon + name) -->
    <div class="col-md-4 col-lg-3 offset-lg-1 mb-3">
        <div class="card">
            <div class="card-body category-box d-flex flex-column align-items-center justify-content-center pt-4">
                <div class="rounded-circle icon-background-large d-flex justify-content-center align-items-center">
                    <img src="/img/<%= category.icon %>" class="img-fit" alt="" />
                </div>
                <h4 class="mt-4 mb-2"><%= title %> </h4>
                <div>
                    <p class="mb-2 mt-3 px-3 py-2 category-info"><b><%= category.numOfCards  %></b> <%= texts.categoryPage.cardsToStudy %></p>
                </div>
            </div>
        </div>
    </div>

    <!-- CATEGORY - list of sections -->
    <div class="col-md-8 col-lg-7 section-list">

        <!-- BALICKY -->
        <div class="card">
            <div class="card-body">
                    <div class="row">
                        <div class="col-9">                    
                            <h5 class="m-0 mb-3 mt-1"><%= texts.categoryPage.packages %></h5>
                        </div>
                    </div>
                    <hr class="mt-0">
                <% if (category.sections.length < 1) { %>
                    <p><%= texts.categoryPage.noPackages %></p>
                <% } else { category.sections.forEach(section => { %>

                    <!-- ZVEREJNENE BALICKY -->
                    <% if(section.isPublic){ %> 
                    <div class="row py-2 section-row">
                        <div class="col-7 d-flex align-items-center">                    
                            <div>
                                <p class="m-0 section-name"><%= section.name %></p>
                                <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                <% if (currentUser && currentUser.isEditor) { %>
                                    <p class="text-muted text-small mb-0">ID sekce: <%= section._id %></p>
                                    <p class="text-muted text-small mb-0">Spuštěna: <%= section.countStarted %></p>
                                    <p class="text-muted text-small mb-0">Dokončena: <%= section.countFinished %></p>
                                    <p class="text-muted text-small mb-0">Opakována: <%= section.countRepeated %></p>
                                    <p class="text-muted text-small mb-0">ID balíčku: <%= section._id %></p>
                                    <p class="text-muted text-small mb-0">Předchozí balíček (ID): <%= section.previousSection %></p>
                                    <p class="text-muted text-small mb-0">Následující balíček (ID): <%= section.nextSection %></p>
                                   <% } %>
                            </div>
                        </div>
                        <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                            <% if (!currentUser){ %> 
                                <% if(!section.isPremium){ %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/1" class="btn btn-sm btn-danger btn-spustit"><%= texts.categoryPage.start %></a>    
                                <% } else { %>
                                    <a href="/premium" class="btn btn-sm btn-warning" style="float:right">Premium</a>
                                <% } %>  
                            <% } else if(!currentUser.isPremium && section.isPremium){ %> 
                                <a href="/premium" class="btn btn-sm btn-warning" style="float:right">Premium</a>
                            <% } else if(currentUser.sections.includes(section._id)) { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/repeatSection" class="btn btn-sm btn-outline-danger btn-opakovat" style="float:right"><%= texts.categoryPage.repeat %></a>
                            <% } else if (section.isUnfinished) { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/<%= section.lastSeenCard %>?continue=continue" class="btn btn-sm btn-outline-danger btn-pokracovat" style="float:right"><%= texts.categoryPage.continue %></a>
                            <% } else { %> 
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/1" class="btn btn-sm btn-danger btn-spustit" style="float:right"><%= texts.categoryPage.start %></a>
                            <% } %>
                            <div class="mt-2">
                                <% if (currentUser && currentUser.isEditor) { %>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square" title="Přidat kartičku"></i></a>
                                    <a href="/category/<%= category.name %>/sectionUp/<%= section._id %>"><i class="fas fa-arrow-up" title="Posunout balíček nahoru"></i></a>
                                    <a href="/category/<%= category.name %>/sectionDown/<%= section._id %>"><i class="fas fa-arrow-down" title="Posunout balíček dolů"></i></a>
                                    <a href="/category/<%= category.name %>/editSection/<%= section._id %>"><i class="far fa-edit" title="Upravit balíček"></i></a>
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul" title="Zobrazit všechny kartičky v balíčku"></i></a>
                                    <% if (!section.isPremium) { %>
                                        <a href="/category/<%= category.name %>/sectionStatus/<%= section._id %>/toPremium" style="border:1px solid;border-radius:5px"><i class="fas fa-arrow-right" title="Změnit na placený"></i>P</a>
                                    <% } %>
                                    <% if (section.isPremium) { %>
                                        <a href="/category/<%= category.name %>/sectionStatus/<%= section._id %>/toZdarma" style="border:1px solid;border-radius:5px"><i class="fas fa-arrow-right" title="Změnit na zdarma"></i>Z</a>
                                    <% } %>
                                    <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>"><i class="fas fa-times px-1" title="Odstranit balíček"></i></a>
                                <% } %>
                            </div>
                        </div>
                        <div class="col-2 d-flex justify-content-evenly align-items-center cards-amount-div">
                            <p class="m-0"><%= section.cards.length %> </p>
                            <p class="text-muted text-small mb-0"><%= texts.categoryPage.cards %></p>
                        </div>
                    </div>
                    <hr class="">

                      <!-- MODAL - Delete section confirmation -->
                        <div class="modal fade" id="deleteSectionModal<%=section._id%>" tabindex="-1">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body d-flex justify-content-center align-items-center">
                                    <form action="/category/<%= category.name %>/removeSection/<%= section._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-danger">Ano, odstranit</button>
                                    </form>
                                </div>
                            </div>
                            </div>
                        </div>

                    <% } %>

                    <!-- NEZVEREJNENE BALICKY -->
                    <% if(!section.isPublic && currentUser && currentUser.isEditor){ %> 
                        <div class="row py-2">
                            <div class="col-5 d-flex align-items-center">                    
                                <div>
                                    <p class="m-0"><%= section.name %> <span class="text-muted text-smaller">[čeká na zveřejnění]</span></p>
                                    <p class="text-muted text-small mb-0"><%= section.shortDescription %> </p>
                                    <% if (currentUser && currentUser.isEditor) { %>
                                        <p class="text-muted text-small mb-0">ID balíčku: <%= section._id %></p>
                                        <p class="text-muted text-small mb-0">Předchozí balíček (ID): <%= section.previousSection %></p>
                                        <p class="text-muted text-small mb-0">Navazující balíček (ID): <%= section.nextSection %></p>
                                       <% } %>
                                </div>
                        </div>
                            <div class="col-2">
                            </div>
                            <div class="col-3 d-flex flex-column justify-content-center align-items-center">
                                <a href="/category/<%= category.name %>/section/<%= section._id %>/publish"" class="btn btn-sm btn-success mb-2">Zveřejnit</a>
                                <% if (!currentUser){ %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/1" class="btn btn-sm btn-danger btn-spustit"><%= texts.categoryPage.start %></a>
                                <% } else if(currentUser.sections.includes(section._id)) { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/repeatSection" class="btn btn-sm btn-outline-danger btn-opakovat" style="float:right"><%= texts.categoryPage.repeat %></a>
                                <% } else if (section.isUnfinished) { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/<%= section.lastSeenCard %>?continue=continue" class="btn btn-sm btn-outline-danger btn-pokracovat" style="float:right"><%= texts.categoryPage.continue %></a>
                                <% } else { %> 
                                    <a href="/category/<%= category.name %>/section/<%= section._id %>/card20/1" class="btn btn-sm btn-danger btn-spustit" style="float:right"><%= texts.categoryPage.start %></a>
                                <% } %>
                                <div class="mt-2">
                                    <% if (currentUser && currentUser.isEditor) { %>
                                        <a href="/category/<%= category.name %>/section/<%= section._id %>/newCard" class="add-icon"><i class="fas fa-plus-square" title="Přidat kartičku"></i></a>
                                        <a href="/category/<%= category.name %>/sectionUp/<%= section._id %>"><i class="fas fa-arrow-up" title="Posunout balíček nahoru"></i></a>
                                        <a href="/category/<%= category.name %>/sectionDown/<%= section._id %>"><i class="fas fa-arrow-down" title="Posunout balíček dolů"></i></a>
                                        <a href="/category/<%= category.name %>/editSection/<%= section._id %>"><i class="far fa-edit" title="Upravit balíček"></i></a>
                                        <a href="/category/<%= category.name %>/section/<%= section._id %>/listAllCards"><i class="fas fa-list-ul" title="Zobrazit všechny kartičky v balíčku"></i></a>
                                    <% } %>
                                    <% if (!section.isPremium) { %>
                                        <a href="/category/<%= category.name %>/sectionStatus/<%= section._id %>/toPremium" style="border:1px solid;border-radius:5px"><i class="fas fa-arrow-right" title="Změnit na placený"></i>P</a>
                                    <% } %>
                                    <% if (section.isPremium) { %>
                                        <a href="/category/<%= category.name %>/sectionStatus/<%= section._id %>/toZdarma" style="border:1px solid;border-radius:5px"><i class="fas fa-arrow-right" title="Změnit na zdarma"></i>Z</a>
                                    <% } %>
                                    <a href="#" class="remove-icon" data-bs-toggle="modal" data-bs-target="#deleteSectionModal<%=section._id%>unpublished"><i class="fas fa-times px-1" title="Odstranit balíček"></i></a>
                                </div>
                            </div>
                            <div class="col-2 d-flex justify-content-evenly align-items-center">
                                <p class="m-0"><%= section.cards.length %> </p>
                                <p class="text-muted text-small mb-0"><%= texts.categoryPage.cards %></p>
                            </div>
                        </div>
                        <hr class="">

                        <!-- MODAL - Delete section confirmation -->
                            <div class="modal fade" id="deleteSectionModal<%=section._id%>unpublished" tabindex="-1">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title">Opravdu chcete odstranit sekci <%=section.name%>?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body d-flex justify-content-center align-items-center">
                                        <form action="/category/<%= category.name %>/removeSection/<%= section._id %>?_method=DELETE" method="POST">
                                            <button class="btn btn-danger">Ano, odstranit</button>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        <% } %>
                <% }) }%>
            </div>
        </div>
    </div>
</div>

<!-- Pouze editor - formular pro pridani sekce -->
<% if (currentUser && currentUser.isEditor) { %>
<div class="row">
    <div class="col-md-7 offset-md-4 mb-3 mt-4">
        <div class="card add-section">
            <div class="card-body pb-0">
                <h4>Přidat nový balíček</h4>
                <form action="/category/<%= category.name  %>/newSection" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-lg-3 col-form-label">Nadpis</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control form-borders" id="name" name="name" required>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="desc" class="col-lg-3 col-form-label">Podnadpis</label>
                        <div class="col-lg-6">
                            <input type="text" class="form-control form-borders" id="desc" name="desc" required>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="previousSection" class="col-lg-3 col-form-label">Navazuje na</label>
                        <div class="col-lg-6">
                            <select class="form-select form-borders" name="previousSection" id="previousSection">
                                <option value="lastSection">nenavazuje na jiný balíček</option>
                                <% category.sections.forEach(section => { %>
                                    <option value="<%= section._id %>"><%= section.name %></option>
                                <% }) %>
                              </select>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <label for="isPremium" class="col-lg-3 col-form-label">Dostupnost</label>
                        <div class="col-lg-4">
                            <select class="form-select form-borders" name="isPremium" id="isPremium">
                                <option value="zdarma">Zdarma</option>
                                <option value="premium">Premium</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 my-3">
                            <button class="btn btn-danger">Přidat balíček</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<% } %>