<% layout ('layouts/boilerplate.ejs') %>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="row p-3 pb-0">
                        <div class="col-4 col-sm-2 d-flex justify-content-center">
                            <div class="clash-icon">
                                <img src="/img/icon_clash.png" alt="">
                            </div>
                        </div>
                        <div class="col-8 col-sm-10 mb-3">
                            <h3>Souboj fakult</h3>
                            <h5>Bojuj vzdělaností za čest a slávu své fakulty</h5>
                        </div>
                        <div class="col-12">
                            <p>Každá nastudovaná kartička či zodpovězená otázka se počítá za <b>jeden bod</b>. Body všech studentů každé fakulty se sčítají. Kdo se stane šampionem tento měsíc?</p>
                            <p><i>Nezapomeň si ve svém <a href="/auth/user/profile">profilu</a> ověřit, že máš <b>nastavenou fakultu</b> a tvé body se počítají!</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="row p-3 pb-0">
                        <div class="col-12">
                            <h4>Průběžné pořadí tohoto měsíce</h4>
                        </div>
                        <% facultiesOrdered.forEach((faculty, i) => { %>
                            <div class="col-6 col-sm-4 col-md-2 clash-item">
                                <div class="number-wrapper">
                                    <div class="number" style="min-height:<%= 5.5 - (i - (i * 0.4)) %>rem;min-width:<%= 5.5 - (i - (i * 0.4)) %>rem;font-size:<%= 1.5 - (i * 0.1)%>rem"><%= i + 1 %>.</div>
                                </div>
                                <p class="points"><%= faculty[1] %> b</p>
                                <p class="text-center text-small text-muted">
                                    <i> 
                                        <% if (faculty[0] === "prfUp") { %><%= total.prfUp %><% } %>
                                        <% if (faculty[0] === "prfUk") { %><%= total.prfUk %><% } %>
                                        <% if (faculty[0] === "prfMuni") { %><%= total.prfMuni %><% } %>
                                        <% if (faculty[0] === "prfZcu") { %><%= total.prfZcu %><% } %>
                                        <% if (faculty[0] === "prfJina") { %><%= total.prfJina %><% } %>
                                        <% if (faculty[0] === "prfNestuduji") { %><%= total.prfNestuduji %><% } %> 
                                    studentů
                                    </i>
                                </p>
                                <p class="name text-smaller text-center">
                                    <% if (faculty[0] === "prfUp") { %>Právnická fakulta Univerzity Palackého<% } %>
                                    <% if (faculty[0] === "prfUk") { %>Právnická fakulta Univerzity Karlovy<% } %>
                                    <% if (faculty[0] === "prfMuni") { %>Právnická fakulta Masarykovy univerzity<% } %>
                                    <% if (faculty[0] === "prfZcu") { %>Právnická fakulta Západočeské univerzity<% } %>
                                    <% if (faculty[0] === "prfJina") { %>Ostatní fakulty<% } %>
                                    <% if (faculty[0] === "prfNestuduji") { %>Absolventi a ostatní nestudující<% } %>
                                </p>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="row p-3 pb-0">
                        <div class="col-12">
                            <h4>Konečné pořadí za minulý měsíc</h4>
                        </div>
                        <% facultiesPrevious.forEach((faculty, i) => { %>
                            <div class="col-6 col-sm-4 col-md-2 clash-item">
                                <div class="number-wrapper">
                                    <div class="number last-month" style="min-height:<%= 5.5 - (i - (i * 0.4)) %>rem;min-width:<%= 5.5 - (i - (i * 0.4)) %>rem;font-size:<%= 1.5 - (i * 0.1)%>rem"><%= i + 1 %>.</div>
                                </div>
                                <p class="points"><%= faculty[1] %> b</p>
                                <p class="name text-smaller text-center">
                                    <% if (faculty[0] === "prfUp") { %>Právnická fakulta Univerzity Palackého<% } %>
                                    <% if (faculty[0] === "prfUk") { %>Právnická fakulta Univerzity Karlovy<% } %>
                                    <% if (faculty[0] === "prfMuni") { %>Právnická fakulta Masarykovy Univerzity<% } %>
                                    <% if (faculty[0] === "prfZcu") { %>Právnická fakulta Západočeské Univerzity<% } %>
                                    <% if (faculty[0] === "prfJina") { %>Ostatní fakulty<% } %>
                                    <% if (faculty[0] === "prfNestuduji") { %>Absolventi a ostatní nestudující<% } %>
                                </p>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div class="row mt-3">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="row p-3 pb-0">
                        <div class="col-12">
                            <h3 class="p-3 mb-0">Souboj fakult</h3>
                            <h5>Konečné výsledky za uplynulý měsíc (březen 2024)</h5>
                            <% facultiesOrdered.forEach((faculty, i) => { %>
                                <div>
                                    <span><%= i + 1 %>.</span>
                                    <span><% if (faculty[0] === "prfUp") { %>Právnická fakulta Univerzity Palackého<% } %></span>
                                    <span>Body: <%= faculty[1] %></span>
                                    </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
