<% layout ('layouts/boilerplate.ejs') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="row p-3 pb-0">
                        <div class="col-12">
                            <h3 class="p-3 mb-0">Souboj fakult</h3>
                        </div>
                        <div class="col-12 d-none">
                            <p id="up"><%= totalSumPrfUp %></p>
                            <p id="uk"><%= totalSumPrfUk %></p>
                            <p id="muni"><%= totalSumPrfMuni %></p>
                            <p id="zcu"><%= totalSumPrfZcu %></p>
                            <p id="jina"><%= totalSumPrfJina %></p>
                        </div>
                        <div id="chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const up = $('#up').text();
            const uk = $('#uk').text();
            const muni = $('#muni').text();
            const zcu = $('#zcu').text();
            const jina = $('#jina').text();
            const data = [up, uk, muni, zcu, jina];
        
            const chartContainer = document.getElementById('chart');
        
            data.forEach(value => {
                const bar = document.createElement('div');
                bar.classList.add('bar');
                bar.style.height = value + 'px';
        
                const label = document.createElement('span');
                label.textContent = value;
        
                bar.appendChild(label);
                chartContainer.appendChild(bar);
            });
        });
      </script>
