<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studuj práva efektivně s InLege</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap_customised.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/landing.css">
    <!-- META TAGS -->
    <meta property="og:url"                content="https://www.inlege.cz/" />
    <meta property="og:title"              content="Studuj práva efektivně s InLege" />
    <meta property="og:description"        content="Stovky interaktivních kartiček zdarma. Všechny obory práva na jednom místě." />
    <meta property="og:image"              content="https://www.inlege.cz/img/fb_sharing.png" />
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NNQ2L4K9C9"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NNQ2L4K9C9');
</script>
<body class="d-flex flex-column vh-100">
    <%- include('./partials/navbar') %> 

    <main role="main"> 
        <%- include('./partials/alert') %>
        <section class="jumbotron main-header">
          <div class="container">
              <div class="row">
                  <div class="col-md-5 offset-md-1 my-5 p-4">
                    <h1 class="jumbotron-heading mb-3">Studuj práva efektivně s <span class="color-1">InLege</span>!</h1>
                    <p class="lead">Pusť se do studia práv s více než dvěma tisíci kartiček s otázkami a odpověďmi. Skvělá interaktivní příprava na zkoušky.</p>        
                   <!-- <p>Pusť se do studia práv s více než dvěma tisíci kartiček s otázkami a odpověďmi, nabízejících skvělou interaktivní přípravu na zkoušky. S InLege získáš více než jen aplikaci - získáš společenství, které ti pomůže otevřít dveře k úspěšné právnické kariéře.</p>
                    <h2>Proč Studovat s InLege?</h2>
                    <ul>
                        <li><strong>Unikátní Přístup:</strong> Zkušenosti absolventů práv přetavené do více než 2 500 interaktivních otázek a odpovědí.</li>
                        <li><strong>Připraven na Vše:</strong> Efektivní příprava na zkoušky, nezávisle na fázi tvého studia či profesního růstu.</li>
                        <li><strong>Širší Společenství:</strong> InLege není jen o kartičkách. Je to komunita mladých právníků, kteří se podporují na cestě k úspěchu.</li>
                        <li><strong>Dostupné pro Všechny:</strong> Věříme, že kvalitní studijní materiály by měly být dostupné pro každého. Alespoň 50 % obsahu InLege je vždy zdarma!</li>
                    </ul>
                    <p>Přidej se k nám a udělej krok k efektivnějšímu a úspěšnějšímu studiu práv s InLege!</p>
                -->
                    <div class="mt-5">
                        <% if(!currentUser){ %> 
                            <a href="/auth/user/new" class="btn btn-lg btn-danger">Studuj zdarma</a>
                        <% } %> 
                    </div>
                </div>
              </div>
          </div>
        </section>

  
        <div class="album pt-5 pb-3 mb-5">
          <div class="container">
            <div class="mb-5 landing-info-wrapper d-none-780-up">
                    <div class="landing-info d-flex flex-row justify-content-evenly align-items-center">
                        <div class="p-3 info-icon">
                            <i class="far fa-copy fa-3x text-muted"></i>
                        </div>
                        <div>
                            <p class="info-main"><%= numOfCards %> opakovacích kartiček</p>
                            <p class="info-secondary text-muted">a přibývají každý týden</p>
                        </div>
                    </div>
                    <div class="landing-info d-flex flex-row justify-content-evenly align-items-center">
                        <div class="p-3 info-icon">
                            <i class="fas fa-mobile-alt fa-3x color-2 text-muted"></i>
                        </div>
                        <div>
                            <p class="info-main">Studuj kdykoliv a kdekoliv</p>
                            <p class="info-secondary text-muted">na mobilu i u počítače</p>
                        </div>
                    </div>
                    <div class="landing-info d-flex flex-row justify-content-evenly align-items-center">
                        <div class="p-3 info-icon">
                            <i class="fas fa-gavel fa-3x color-2 text-muted"></i>
                        </div>
                        <div>
                            <p class="info-main"><%= numOfCategories %> oblastí, <%= numOfSections  %> balíčků</p>
                            <p class="info-secondary text-muted">komplexní pokrytí studijního materiálu</p>
                        </div>
                    </div>
            </div>

                <div class="mb-5 row d-none-780-down">
                    <div class="col-12">
                        
                        <div class="landing-info col-md-3 offset-md-2">
                            <div class="row my-2">
                                <div class="info-icon col-3 d-flex justify-content-center align-items-center">
                                    <i class="far fa-copy fa-3x text-muted"></i>
                                </div>
                                <div class="col-9">
                                    <p class="info-main"><%= numOfCards %> opakovacích kartiček</p>
                                    <p class="info-secondary text-muted">a přibývají</p>
                                </div>
                            </div>
                        </div>
                        <div class="landing-info col-md-3">
                            <div class="row my-2">
                                <div class="info-icon col-3 d-flex justify-content-center align-items-center">
                                    <i class="fas fa-mobile-alt fa-3x color-2 text-muted"></i>
                                </div>
                                <div class="col-9">
                                    <p class="info-main">Procvičuj i na mobilu</p>
                                    <p class="info-secondary text-muted">díky responzivnímu designu</p>
                                </div>
                            </div>
                        </div>
                        <div class="landing-info col-md-3">
                            <div class="row my-2">
                                <div class="info-icon col-3 d-flex justify-content-center align-items-center">
                                    <i class="fas fa-gavel fa-3x color-2 text-muted"></i>
                                </div>
                                <div class="col-9">
                                    <p class="info-main"><%= numOfCategories %> právních oblastí </p>
                                    <p class="info-secondary text-muted">obsahujících <%= numOfSections  %> balíčků</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="offset-lg-2 col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/trestnipravo" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_tresthmota.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Trestní právo <br> hmotné</h5>
                                <p class="text-muted"><%= trestnipravo.numOfCards %>  kartiček</p>
                                <a href="/category/trestnipravo" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/trestniproces" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_trestproces.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Trestní právo <br> procesní</h5>
                                <p class="text-muted"><%= trestniproces.numOfCards %>  kartiček</p>
                                <a href="/category/trestniproces" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/obcanskepravo" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_civilhmota.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Občanské právo <br> hmotné</h5>
                                <p class="text-muted"><%= obcanskepravo.numOfCards %> kartiček</p>
                                <a href="/category/obcanskepravo" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/civilniproces" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_civilproces.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Občanské právo <br> procesní</h5>
                                <p class="text-muted"><%= civilniproces.numOfCards %> kartiček</p>
                                <a href="/category/civilniproces" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="row mt-lg-4">
                <div class="offset-lg-2 col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/spravnipravo" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_sprava.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Správní právo</h5>
                                <p class="text-muted"><%= spravnipravo.numOfCards %> kartiček</p>
                                <a href="/category/spravnipravo" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/ustavnipravo" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_ustavko.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Ústavní právo</h5>
                                <p class="text-muted"><%= ustavnipravo.numOfCards %> kartiček</p>
                                <a href="/category/ustavnipravo" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/obchodnipravo" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_obchod.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Obchodní právo</h5>
                                <p class="text-muted"><%= obchodnipravo.numOfCards %> kartiček</p>
                                <a href="/category/obchodnipravo" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-2 col-md-3 col-6 mb-4">
                    <a href="/category/pravnickaanglictina" class="landing-link">
                        <div class="card  ">
                            <div class="d-flex justify-content-center">
                                <div class="m-3 rounded-circle icon-background-landing d-flex justify-content-center align-items-center">
                                    <img src="/img/icon_anglictina.png" class="img-fit" alt="" />
                                </div>
                            </div>
                            <div class="card-body cat-text">
                                <h5 class="card-title">Právnická angličtina</h5>
                                <p class="text-muted"><%= pravnickaanglictina.numOfCards %> kartiček</p>
                                <a href="/category/pravnickaanglictina" class="btn btn-sm btn-danger">Studovat</a>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <section class="vision-statement">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center my-5">
                    <h1 class="mb-4">Naše vize</h1>
                    <p class="fs-5">Mladí právníci neustále skládají zkoušky. Ať už na právnické fakultě nebo po jejím dokončení v rámci dalšího profesního vzdělávání. Sami jsme touto cestou prošli. Rádi bychom vám proto nabídli nástroj, který bychom za našich studijí sami ocenili a věříme, že vám na této náročné cestě usnadní život a přípravu na zkoušky zefektivní. Proto jsme vytvořili <strong style="color:#E80F88">InLege</strong>, aplikaci pro studenty práv.</p>
                    <!--
                    <p class="fs-5">Naší filozofií je, aby bylo InLege každodenním nástrojem pro co nejvíce studentů. Proto jsme si stanovili jako základní pravidlo, že bude vždy <strong style="color:#E80F88">nejméně 50 % obsahu zdarma</strong>. A to držíme!</p>
                    <h1>Mladí Právníci, Zkoušky a InLege</h1>

<p>Mladí právníci se neustále potýkají se zkouškami, ať už na právnické fakultě nebo v průběhu dalšího profesního vzdělávání po jejím absolvování. Jsme si vědomi této náročné cesty, proto jsme vytvořili nástroj, který bychom sami v době našich studií ocenili. S radostí vám představujeme <strong>InLege</strong>, inovativní webovou aplikaci pro studenty práv v České republice.</p>

<p>Naše filozofie spočívá v poskytnutí užitečného nástroje, který vám usnadní přípravu na zkoušky a zefektivní váš studijní proces. Jsme přesvědčeni, že InLege se stane nezbytným společníkem na této náročné cestě. Proč?</p>

<ol>
    <li><strong>Zkušenostní Přístup:</strong> Jako absolventi práv jsme sami procházeli touto cestou, a tak jsme vytvořili aplikaci s ohledem na potřeby mladých právníků.</li>

    <li><strong>Více než 2 500 Karet:</strong> InLege obsahuje více než 2 500 kartiček s otázkami a odpověďmi z různých oblastí práva, poskytující komplexní pokrytí materiálu.</li>

    <li><strong>Efektivní Příprava:</strong> Cílem InLege je nejen usnadnit vám život, ale také vám poskytnout efektivní nástroj pro přípravu na zkoušky a další profesní výzvy.</li>

    <li><strong>Dostupnost pro Všechny:</strong> Věříme, že každý student by měl mít přístup k kvalitním studijním materiálům. Proto jsme se zavázali, že alespoň 50 % obsahu InLege bude vždy dostupné zdarma.</li>
</ol>

<p>InLege není pouze aplikací, je to společenství mladých právníků, kteří sdílejí váš zájem a chtějí vám pomoci na cestě k úspěchu. Připojte se k nám a dejte nám šanci vám usnadnit cestu k právnickému úspěchu!</p>
-->
                </div>
            </div>
        </div>
    </section>
</main>
    <%- include('./partials/footer') %>
    <%- include('./partials/cookiesBar')%> 
    <!-- JS for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> 
    <script src="https://kit.fontawesome.com/c9f8e59b45.js" crossorigin="anonymous"></script>
    <script src="/js/jquery.min.js" ></script>
    <script type="text/javascript" src="/js/custom.js"></script>
</body>
</html>


    

    