<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-center mb-4">Správa předmětů</h2> 
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-3">
            <div class="d-flex justify-content-between align-items-center">
                <div></div>
                <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modal-category" style="margin-bottom: 5px">Přidat předmět</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Header Row -->
            <div class="row font-weight-bold">
                <div class="col-1 text-center nezobrazovat-na-mobilu"><p>Ikona</p></div>
                <div class="col-4"><p>Název předmětu</p></div>
                <div class="col-1 text-center nezobrazovat-na-mobilu"><p>Balíčky</p></div>
                <div class="col-1 text-center nezobrazovat-na-mobilu"><p>Kartičky</p></div>
                <div class="col-1 text-center nezobrazovat-na-mobilu"><p>Otázky</p></div>
                <div class="col-3 text-center"><p>Akce</p></div>
            </div>

            <% if(categories.length < 1){ %>
                <div class="row">
                    <div class="col-12">
                        <p class="text-center text-muted my-4">Žádné předměty nebyly nalezeny.</p>
                    </div>
                </div>
            <% } %>
            
            <!-- Dynamic Content Rows -->
            <% categories.forEach((cat, i) => { %>
                <div class="row align-items-center mb-2 border-grey radius-10 bg-grey">
                    <div class="col-1 text-center nezobrazovat-na-mobilu">
                        <div class="img-thumbnail-list my-2">
                            <img src="/img/<%= cat.icon %>" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-4"><a href="/category/<%= cat._id %>"><%= cat.text %></a></div>
                    <div class="col-1 text-center nezobrazovat-na-mobilu"><%= cat.sections.length %></div>
                    <div class="col-1 text-center nezobrazovat-na-mobilu"><%= cat.numOfCards %></div>
                    <div class="col-1 text-center nezobrazovat-na-mobilu"><%= cat.numOfQuestions %></div>
                    <div class="col-3 d-flex justify-content-center">
                        <a href="#" class="btn btn-sm btn-outline-danger mx-2" data-bs-toggle="modal" data-bs-target="#modal-category-edit<%= i %>"><i class="far fa-edit"></i></a>
                        <% if (cat.sections.length === 0) { %>
                            <form action="/category/remove/<%= cat._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-outline-danger"><i class="far fa-trash-alt"></i></button>
                            </form>
                        <% } else { %>
                            <a href="#" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#modal-category-delete<%= cat._id %>"><i class="far fa-trash-alt"></i></a>
                        <% } %>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>


<!-- Add category modal -->
<div class="modal fade" id="modal-category" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title mx-3">Vytvořit nový předmět</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body mx-3">
            <form action="/category/new" method="POST">
                <div class="form-group mb-4">
                    <label for="text">Název předmětu</label>
                    <input class="form-control form-borders" id="text" name="text" rows="1" placeholder="Např. Občanské právo hmotné I." required></input>
                </div>
                <label for="text">Ikona předmětu</label>
                <div class="form-group mb-4 border-grey">
                    <div class="row p-2 icon-select-container">
                    <% icons.forEach(function(icon, index) { %>
                        <div class="col-md-3 icon-container">
                          <label>
                            <input type="radio" name="icon" value="<%= icon %>">
                            <img src="/img/<%= icon %>" alt="Icon <%= index + 1 %>" class="img-thumbnail">
                          </label>
                        </div>
                      <% }); %>
                    </div>
                </div>
                <button class="btn btn-danger mt-4">Vytvořit předmět</button>
            </form>
        </div>
    </div>
    </div>
</div>

<% categories.forEach((category, i) => { %>
    <!-- Edit category modal -->
    <div class="modal fade" id="modal-category-edit<%= i %>" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-3">Upravit předmět</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-3">
                <form action="/category/edit/<%= category._id %>?_method=PUT" method="POST">
                    <div class="form-group mb-4">
                        <label for="text">Název předmětu</label>
                        <input class="form-control form-borders" id="text" name="text" rows="1" value="<%= category.text %>" required></input>
                    </div>
                    <label for="text">Ikonu předmětu</label>
                    <div class="form-group mb-4 border-grey">
                        <div class="row p-2 icon-select-container">
                        <% icons.forEach(function(icon, index) { %>
                            <div class="col-md-3 icon-container">
                              <label>
                                <% if(icon === category.icon){ %>
                                    <input type="radio" name="icon" value="<%= icon %>" checked>
                                <% } else { %>
                                    <input type="radio" name="icon" value="<%= icon %>">
                                <% } %>
                                <img src="/img/<%= icon %>" alt="Icon <%= index + 1 %>" class="img-thumbnail">
                              </label>
                            </div>
                          <% }); %>
                        </div>
                    </div>
                    <button class="btn btn-danger mt-4">Uložit změny</button>
                </form>
            </div>
        </div>
        </div>
    </div>
<% }) %>

<!-- Delete category modal - not allowed info -->
<% categories.forEach((cat, i) => { %>
    <div class="modal fade" id="modal-category-delete<%= cat._id %>" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mx-3">Předmět obsahuje balíčky</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body mx-3 text-center">
                <p class="">Opravdu chcete tento předmět odstranit? Předmět obsahuje balíčky, které budou také odstraněny.</p>
                <form action="/category/remove/<%= cat._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger mt-3">Ano, odstranit předmět</button>
                </form>
            </div>
        </div>
        </div>
    </div>
<% }) %>