<% layout ('layouts/boilerplate.ejs')  %> 
    <div class="col-sm-6 offset-sm-3">
        <h5>Vložit novou kartu do sekce <%= sectionName %> v kategorii <%= category %> </h5>
        <form class="row g-3 needs-validation mt-3" novalidate action="/category/<%= category %>/<%= sectionId %>/newCard" method="POST">
            <div class="mt-2">
            <label for="pageA" class="form-label">Strana A</label>
            <textarea name="pageA" id="pageA" class="form-control" cols="30" rows="5" required></textarea>
            <div class="valid-feedback">
                V pořádku!
            </div>
            </div>
            <div class="mt-2">
                <label for="pageB" class="form-label">Strana B</label>
                <textarea name="pageB" id="pageB" class="form-control" cols="30" rows="10" required></textarea>
                <div class="valid-feedback">
                V pořádku!
                </div>
            </div>
            <div class="mt-2">
                <label for="author" class="form-label">Autor</label>
                <input type="text" class="form-control" id="author" name="author" value="<%= currentUser.email %>" required>
                <div class="valid-feedback">
                V pořádku!
                </div>
            </div>
            <div class="col-12">
            <button class="btn btn-primary" type="submit">Vložit</button>
            </div>
        </form>
    </div>
    
    <script src="/js/validateForms.js"></script>