<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <title>Kartičky</title>
  <!-- META TAGS -->
  <meta name="description"               content="Tisíce interaktivních právnických kartiček zdarma. Připrav se na zkoušky zábavnou formou!">
  <meta name="author"                    content="Chilero s. r. o.">
  <meta name="keywords"                  content="pravnicke, karticky, inlege, studium, prava, podklady, priprava">
  <meta name="twitter:title"             content="Studuj práva efektivně s InLege">
  <meta name="twitter:description"       content="Tisíce interaktivních právnických kartiček zdarma. Připrav se na zkoušky zábavnou formou!">
  <meta name="twitter:image"             content="https://www.inlege.cz/img/fb_sharing.png">
  <meta property="og:url"                content="https://www.inlege.cz/" />
  <meta property="og:title"              content="Studuj práva efektivně s InLege" />
  <meta property="og:description"        content="Tisíce interaktivních právnických kartiček zdarma. Připrav se na zkoušky zábavnou formou!" />
  <meta property="og:image"              content="https://www.inlege.cz/img/fb_sharing.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap_customised.css">
  <link rel="stylesheet" href="/css/custom.css">
  <link rel="stylesheet" href="/css/card.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-W9NBWFYGZ1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-W9NBWFYGZ1');
</script>

<body class="d-flex flex-column vh-100">
  <%- include('../partials/navbar') %>
    <nav class="navbar bg-white" style="border-bottom: 1px solid #EEEEEE;" id="card-nav">
      <div class="container">
        <ul class="navbar-nav">
          <li><a href="/category/<%= section.categoryId %>" class="back-link"><i
                class="fas fa-chevron-left me-2 mb-2"></i>Zpět na předmět</a></li>
          <li>
            <p class="m-0"><small id="sectionId" name="<%= section._id %>">
              <span class="nezobrazovat-na-mobilu d-flex align-items-center">
                  <span><%= section.name %></span>
              </span>
            </p></small>
          </li>
        </ul>
      </div>
    </nav>

    <main class="container mt-md-5 p-lg-4" id="main-container">
      <div id="warning-div" style="width:100%;margin-top:1rem"><!--Placeholder for warning alert--></div>
      <div class="row">

        <!--PROGRESS STATUS MOBILE-->
        <div class="col-lg-2 mb-3 zobrazovat-jen-na-mobilu">
          <div class="card d-flex flex-row justify-content-center align-items-center border-grey">
            <div class="card-body text-center">
              <p class="text-muted text-smaller mb-1">Kartička <span id="progressCardNumMobile"><span id="progressNumMobile">0</span> z <span class="cardsLoadedCount"><%= section.cards.length %></span>
              </p>
              <div class="progress">
                  <div class="progress-bar bg-danger" role="progressbar" style="width:0%" id="progressBarMobile">
                    <span id="progressBarStatusMobile"><span id="progressBarStatusMobileNum">0</span>%</span>
                  </div>
              </div>
            </div>
          </div>
          <% if(!currentUser || (currentUser && !currentUser.usedMobileApp)){ %>
            <div class="card d-flex flex-row justify-content-center align-items-center border-grey mt-3">
              <div class="card-body">
                <div class="d-flex justify-content-evenly align-items-center">
                  <p class="text-center mb-0 px-1">Mobilní aplikace <span class="color-primary">InLege</span> je tady!</p>
                  <div class="d-flex justify-content-center align-items-center">
                  <a href="https://apps.apple.com/us/app/inlege/id6670204630" target="_blank" class="btn btn-outline-danger text-small"><i class="fab fa-apple"></i> <span class="hide-under-1200">iOS</span></a>
                  <a href="https://play.google.com/store/apps/details?id=cz.inlege.InLege" target="_blank" class="btn btn-outline-danger mx-1 text-small"><i class="fab fa-android"></i> <span class="hide-under-1200">Android</span></a>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        </div>


        <!--FLIPCARD-->
        <div class="col-lg-6 offset-lg-2 mb-3">
          <div class="flip-card" id="flip-card">
            <div class="border-grey flip-card-inner" id="flip-card-inner">
              <div class="card-body flip-card-front p-sm-3 pt-sm-4 px-0 pt-3">
                <div class="front-main-content d-flex justify-content-center align-items-center">
                  <div class="card-text m-4 text-center" id="pageA"><div class='spinner-border' role='status'><span class='visually-hidden'>Loading...</span></div></div>
                </div>
              </div>
              <div class="card-body flip-card-back p-sm-3 pt-sm-4 px-0 pt-3">
                <div class="back-main-content d-flex justify-content-center align-items-center text-gradient">
                  <div class="card-text m-4" id="pageB">Strana B</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--PROGRESS STATUS PC-->
        <div class="col-lg-2 mb-3 mt-5 mt-lg-0 nezobrazovat-na-mobilu">
          <div class="card border-grey">
            <div class="card-body text-center">
              <div class="card-body category-box d-flex flex-column align-items-center justify-content-center pt-1">
                <div class="rounded-circle icon-background-medium d-flex justify-content-center align-items-center">
                  <img src="/img/<%= categoryIcon %>" class="img-fit" alt="" />
                </div>
              </div>
              <p class="text-muted text-smaller">Kartička <span id="progressCardNumMac"><span id="progressNumMac">0</span> z <span class="cardsLoadedCount"><%= section.cards.length %></span>
              </p>
              <div class="progress mb-2">
                  <div class="progress-bar bg-danger" role="progressbar" style="width:0%" id="progressBarMac">
                    <span id="progressBarStatusMac"><span id="progressBarStatusMacNum">0</span>%</span>
                  </div>
              </div>
            </div>
          </div>
          <% if(!currentUser || (currentUser && !currentUser.usedMobileApp)) {%>
            <div class="card border-grey mt-3">
              <div class="card-body" id="questions-list" style="padding: 0.5rem;padding-left:1rem;overflow: scroll;">
                <div>
                  <p class="text-center text-smaller">Vyzkoušej i <b>mobilní aplikaci</b> <b class="color-primary">InLege</b>!</p>
                  <div class="d-flex justify-content-evenly align-items-center">
                    <a href="https://apps.apple.com/us/app/inlege/id6670204630" target="_blank" class="btn btn-outline-danger mx-2 text-small"><i class="fab fa-apple"></i> <span class="hide-under-1200">iOS</span></a>
                    <a href="https://play.google.com/store/apps/details?id=cz.inlege.InLege" target="_blank" class="btn btn-outline-danger mx-2 text-small"><i class="fab fa-android"></i> <span class="hide-under-1200">Android</span></a>
                  </div>
                </div>
              </div>
            </div>
          <% } else { %>
            <!--
            <div class="card border-grey mt-3">
              <div class="card-body" id="questions-list" style="padding: 0.5rem;padding-left:1rem;overflow: scroll;">
                <div>
                  <div class="d-flex flex-column justify-content-evenly align-items-center py-2">
                    <img src="/img/icon_highfive.png" alt="" style="max-width: 40px;">
                    <p class="text-center text-smaller mb-0">Advokátní kancelář Novák</p>
                    <p class="text-center text-small text-muted">podporuje projekt InLege</p>
                  </div>
                </div>
              </div>
            </div>
            -->
          <% } %>
        </div>
      </div>
        
      </div>
      
      <!--FRONT CARD MENU-->
      <div class="row" id="front-menu-row">
        <div class="col-lg-6 offset-lg-2">
          <div class="front-menu d-flex justify-content-between align-items-center border-grey">
            <div class="d-flex" style="min-width: 5rem;">
              <div class="chevron-back-div">
                <a href="#" class="chevron-back mt-1" id="btn-predchozi-front"><i class="fas fa-chevron-left"></i></a>
              </div>
            </div>
            <div class="">
              <a href="#" class="btn btn-lg btn-outline-danger disabled" id='btn-otocit'>Otočit</a>
            </div>
            <div class="disabled" style="min-width: 5rem; opacity: 0">X</div>
          </div>
        </div>
      </div>

      <!--BACK CARD MENU-->
      <div class="row hide" id="back-menu-row">
        <div class="col-lg-6 offset-lg-2">
          <div class="back-menu d-flex justify-content-between align-items-center border-grey">
            <div class="d-flex" style="min-width: 5rem;">
              <div class="chevron-back-div">
                <a href="#" class="chevron-back mt-1" id="btn-predchozi-back"><i class="fas fa-chevron-left"></i></a>
              </div>
              <div id="star-div">
                <div id="save-star" name="#" class="save-star" style="cursor:pointer"><i class="far fa-star"></i></div>
              </div>
            </div>
            <div>
              <a href="#" class="btn btn-lg btn-outline-danger easy-btn" id="btn-dont-know" style="min-width: 5rem;"><i class="far fa-thumbs-down"></i></a>
              <a href="#" class="btn btn-lg btn-danger easy-btn" id="btn-know" style="min-width: 5rem;"><i class="far fa-thumbs-up"></i></a>
            </div>
            <div id="rotate-div" style="min-width: 5rem">
              <a href="#" id="rotate-back" class="rotate-icon"><i class="fas fa-sync-alt"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 offset-lg-2" id="mini-menu">
          <div class="text-muted text-center text-small d-flex justify-content-center align-items-center mt-4">
            <span class="knows-all-badge hide" id="knows-all-badge">Umíš všechny kartičky v tomto balíčku</span>
            <% if(currentUser && currentUser._id.toString() === section.author.toString()){ %>
              <a href="#" target="_blank" class="text-muted mx-2" id="btn-upravit">Upravit kartu</a>
              <a href="#" class="text-muted mx-2" id="btn-odstranit">Odstranit kartu</a>
            <% } %>
            <a class="text-muted mx-2 nezobrazovat-na-mobilu" id="n-key">[N = <i class="far fa-thumbs-down"></i>]</a>
            <a class="text-muted mx-2 nezobrazovat-na-mobilu" id="m-key">[mezerník / M = <i class="far fa-thumbs-up"></i>]</a>
          </div>
        </div>
      </div>
    </main>

    <!-- MODAL - Saving is Premium feature info -->
    <div class="modal fade" id="savePremium" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body" style="text-align: center;">
            <h5 class="modal-title mb-3" style="text-align: center;"><i class="far fa-star fa-lg"></i> Vyzkoušej ukládání kartiček</h5>
            <p class="p-3">Hvězdičkou si můžeš <b>ukládat</b> kartičky, které si potřebuješ více zopakovat. Poté si je můžeš <b>procházet</b> pod odkazem "Uložené kartičky" v horním menu.</p>
            <p class="pb-3 px-3">Tohle a další tisíce kartiček získáš <b>s předplatným Premium</b>.</p>
            <a href="/premium" class="btn btn-danger">Zjistit více</a>
          </div>
        </div>
      </div>
    </div>

    <% if(!currentUser || (currentUser && !currentUser.card30ExplanationModalShown)){ %>
      <!-- MODAL - App Anouncement with script -->
      <div class="modal fade" id="card30ExplanationModal" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered edit-modal">
          <div class="modal-content">
              <div class="modal-body">
                  <div class="d-flex justify-content-between w-100">
                      <div></div>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                  </div>
                  <% if (currentUser && currentUser.cardsSeen > 10) { %>
                    <h3 class="text-center mt-3 mb-4">Představujeme palce!</h3>
                  <% } else { %>
                    <h3 class="text-center mt-3 mb-4">Jak fungují palce?</h3>
                  <% } %>
                  <div class="d-flex justify-content-center mt-4">
                    <div class="d-flex">
                      <div class="d-flex flex-column align-items-center mx-4">
                        <a href="#" class="btn btn-lg btn-outline-danger easy-btn no-click" style="min-width: 5rem;"><i class="far fa-thumbs-down"></i></a>
                        <h5 class="text-center mt-2">Nevím</h5>
                      </div>
                      <div class="d-flex flex-column align-items-center mx-4">
                        <a href="#" class="btn btn-lg btn-danger easy-btn no-click" style="min-width: 5rem;"><i class="far fa-thumbs-up"></i></a>
                        <h5 class="text-center mt-2">Vím</h5>
                      </div>
                    </div>
                  </div>
                  <div class="text-center mt-4">
                    <p>Označ kartičku podle toho, zda už ji ovládáš nebo se k ní potřebuješ později vrátit. Při <span class="color-1"><b>dalším procházení</b></span> balíčku ti ukážeme <span class="color-1"><b>jen ty</b></span> kartičky, ke kterým se <span class="color-1"><b>potřebuješ</b></span> vrátit.</p>
                    <% if (!currentUser) { %>
                      <p class="mt-3 text-smaller text-muted mx-4">Funkce je plnohodnotně dostupná po bezplatné registraci přihlášeným uživatelům.</p>
                    <% } %>
                  </div>
                  <div>
                    <div class="d-flex justify-content-center mt-4 mb-3">
                      <a href="#" class="btn btn-danger btn-lg" data-bs-dismiss="modal">Jdeme na to!</a>
                    </div>
                  </div>
              </div>
          </div>
          </div>
      </div>
    <% } %>
    
    <div id="show-mode" style="opacity: 0" name="<%= mode %>"></div>


    <%- include('../partials/footer') %>
      <!-- JS for Bootstrap -->
      <script src="/js/jquery.min.js"></script>
      <script src="https://kit.fontawesome.com/c9f8e59b45.js" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
      <script src="/js/card30.js"></script>
      <!--element for JS properly working while loading data-->
      <div id="data-loaded-wrapper">
        <div id="data-loaded"></div>
      </div>
</body>

<% if(!currentUser || (currentUser && !currentUser.card30ExplanationModalShown)){ %>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
        var card30ExplanationModal = new bootstrap.Modal(document.getElementById("card30ExplanationModal"));
        card30ExplanationModal.show();
    });
    //send post request to /admin/appAnnounced to set appAnnouncementModalShown to true to prevent showing the modal again
    fetch("/api/card30Explained", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
        },
        body: JSON.stringify({}),
    });
  </script>
<% } %>

</html>