<% layout ('layouts/boilerplate.ejs') %>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">Upravit testovou otázku</h2>
      <p class="text-center">do balíčku <%= section.name %></p>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
      <form
        class="row g-3 mt-3 needs-validation"
        novalidate
        action="/category/<%= category._id %>/section/<%= section._id %>/questions/<%= question._id %>?_method=PATCH"
        method="POST"
      >
        <div class="mt-2">
          <div class="form-group row">
            <div>
              <textarea
                class="form-control form-borders border-darkgrey no-resize question-textarea"
                id="question"
                name="question"
                rows="3"
                placeholder="Zadejte otázku..."
                required
              >
<%= question.question %></textarea
              >
            </div>
          </div>
          <div class="form-group row my-4">
            <div>
              <textarea
                class="form-control form-borders border-darkgrey no-resize answer-textarea"
                id="correctAnswer"
                name="correctAnswer"
                rows="2"
                placeholder="Správná odpověď..."
                required
              >
<%= question.correctAnswers[0] %></textarea
              >
            </div>
          </div>
          <div class="form-group row mb-2">
            <div>
              <textarea
                class="form-control form-borders border-darkgrey no-resize answer-textarea"
                id="wrongAnswer1"
                name="wrongAnswer1"
                rows="2"
                placeholder="Chybná odpověď (první)"
                required
              >
<%= question.wrongAnswers[0] %></textarea
              >
            </div>
          </div>
          <div class="form-group row mb-2">
            <div>
              <textarea
                class="form-control form-borders border-darkgrey no-resize answer-textarea"
                id="wrongAnswer2"
                name="wrongAnswer2"
                rows="2"
                placeholder="Chybná odpověď (druhá)"
                required
              >
<%= question.wrongAnswers[1] %></textarea
              >
            </div>
          </div>
          <div
            class="col-12 d-flex justify-content-center align-items-center mt-4 mb-3"
          >
            <button
              class="btn btn-danger btn-lg mt-1"
              style="width: 200px"
              type="submit"
              id="save-question-btn"
            >
              Uložit změny
            </button>
          </div>
          <div class="col-12 d-flex justify-content-center align-items-center">
            <a href="/review/<%= section._id %>/showAll">zpět</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="/js/validateForms.js"></script>
