<% layout ('layouts/boilerplate.ejs')  %> 
<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <h5>Kartičky v balíčku <%= section.name %> <span class="text-muted">(Předmět: <%= section.category %>)</span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-between mb-4">
            <a href="/category/<%= section.category %>" class="btn btn-sm btn-outline-danger">Zpět na předmět</a>
            <a href="/category/<%= categoryId %>/section/<%= section._id %>/question/new" class="btn btn-sm btn-danger">Přidat otázku</a>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-1 text-center">Číslo</div>
            <div class="col-sm-3">Otázka</div>
            <div class="col-sm-5">Odpovědi</div>
            <hr>
        </div>
    <% section.questions.forEach((question, i) => { %> 
        <div class="row">
            <div class="col-sm-1 text-small text-center"><%= i + 1%></div>
            <div class="col-sm-3 text-small"><%- question.question %> </div>
            <div class="col-sm-6 text-small">
                <div>
                    <p><i>Správně:</i> <%- question.correctAnswers[0] %> </p>
                    <p class="mb-0"><i>Špatně:</i> <%- question.wrongAnswers[0] %> </p>
                    <p><i>Špatně:</i> <%- question.wrongAnswers[1] %> </p>
                </div>
            </div>
            <div class="col-sm-1"><a href="/category/<%= categoryId %>/section/<%= section._id %>/questions/<%= question._id %>/edit">Upravit</a></div>
            <div class="col-sm-1">
                <form action="/category/<%= categoryId %>/section/<%= section._id %>/questions/<%= question._id %>?_method=DELETE" method="POST">
                    <button class="link">Odstranit</button>
                </form>
            </div>
            <hr>
        </div>
    <% }) %> 
</div>